body
{
	margin:0px;
	padding:0px;
	font-family:Arial;
	font-size:11px;
	color:#000000;
	background: #F8F7F7;
	
	}

#logo{
	margin-bottom: 100px;
	margin-top : 0px;
	margin-left: 0px;
	float:left;
	height: 98px;

	max-width:100%;
height:auto;
width: auto\9;
	background: white;
}
#menu_shortcuts{
float:right;
padding-right: 12px;
margin-right: 30px;

}
img{
max-width:91%;
height:auto;
width: auto\9;
padding-left:5px;
}
header{
	position:absolute;
	top: 5%;
	left:10%;
	width:80%;
	height:13%;
	background-color:#882323;
-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
}


nav{
	position:absolute;
	top: 19%;
	left:10%;
	width:80%;
	height:6%;
	background-color:#174c82;	
}

section{

	position:absolute;
	top:26%;
	left:10%;
	width:80%;
	bottom:0;
	height:100%;
	background-color:#ddeafa;
		-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
}
#content_title{
	margin:auto; width:80%;
	font-weight:bold;color:#FFFFFF;text-align:center;	padding:8px;
	text-decoration:none;text-transform:uppercase;	
}
#content{
	margin:auto; width:80%;
	background-color:#E1DFD9;
}


/*#navigation-bar table
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

 a:link, a:visited
{
display:block;
width:220px;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
 a:hover,a:active
{
background-color:#7A991A;
}*/

#login_form{
	position:absolute;
	top:10%;
	left:30%;
	width:40%;
	
}