.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}
.list-group-item{
	/*
	position:relative;
	display:block;
	padding:10px 15px;
	margin-bottom:-1px;
	background-color:#fff;
	*/
	border:0px;
}