/* Specifies padding for tree structure, required in order to preserve hierarchy*/
.nav-list {
  padding-right: 0px;
  padding-left: 15px;
  margin-bottom: 0;
}
.list-group-item{
	/*
	position:relative;
	display:block;
	padding:10px 15px;
	margin-bottom:-1px;
	background-color:#fff;
	*/
	border:0px;
	padding-right: 0px;
}

/*
Pushes marks to the right in order to alling them
rather than having look like the opposite of the tree structure
*/
div.pull-right.btn-group.btn-group-xs.mark-view-toggle{
  padding-right: 15px;
}
