{% extends "base.html" %}

{% block title %}Squirrel Marking - Assessment View{% endblock %}

{% block menu_shortcuts %}
{% include "menu.html" %}
{% endblock %}
{% block content_title %}<h1 id="content_title">Assessment {{ assessment.assessment_name }} Manager</h1>{% endblock %}
{% block includes %}
	<script type = "text/javascript">
	$(document).ready(function () {
		assess_id = {{ assessment.id }}
		$('.accordian').accordion({ active: false, collapsible: true, heightStyle: "content"}); 
		$('.session').button();
		$('.session').on('click', function()
			{
				session_name = $(this).text();
				par = $(this).parent();
				session_id = par.attr('id');
				Sopened = par.children('.opened').val();
				Sclosed = par.children('.closed').val();
				Sstatus = par.children('.status').val();
				$('#sessionID').val(session_id);
				$('#session_name').val(session_name);
				$('#opendate').val(Sopened);
				$('#closedate').val(Sclosed);
				$('#status_'+Sstatus).attr('checked', true);
			});
		$('.leafAssessment').button();
		$('.leafAssessment').on('click', function()
			{
				LA_name = $(this).text();
				par = $(this).parent();
				LA_id = par.attr('id');
				LA_mark = par.children('.max_mark').val();
				$('#leafID').val(LA_id);
				$('#LAname').val(LA_name);
				$('#LAmaxMark').val(LA_mark);
			});
	});
	function frmSession()
	{
		$.ajax({
			type: "POST",
			url: '/session/',
			data: $("#frmSession").serialize(),
			success: function(response) {
			  
			}
			});
	}
	</script>
{% endblock %}
{% block content %}
    
    <div>
      <h1>Assessment Information</h1>
      {{ msg }}<br/>
      <form id="assessmentFrom" action="" method="post">{% csrf_token %}
	<input hidden name='assessmentID' Value="{{ Assessment.id }}">
		<table>
			{{ assessmentForm.as_table }}
		</table>
	<input type="submit" name='func' Value="Update Assessment">
      </form>
    </div>    
    
    <h3>Assessment Properties</h3>
    <div class="accordian">
	<h3 id="LeafAssessment">Leaf Assessments</h3>
	<div>
		
		<form action="" method="post">{% csrf_token %}		  
			<input hidden name='assessmentID' Value="{{ Assessment.id }}">
			<input hidden id='leafID' name='leafID' Value="">
			<table>
					{{ leafAssessmentForm.as_table }}
				<tr>
					<td></td><td>
					<input type='submit' name='funcLA' value='Update'></input>
					<input type='submit' name='funcLA' value='Add'></input>
					<input type='submit' name='funcLA' value='Remove'></input></td>
				</tr>
			</table>
		</form>
			
		<div id="leafList">
			{% for Leaf in LeafAssessments %}
				<div id="{{ Leaf.id }}">
				    <input hidden value='{{ Leaf.max_mark }}' class='max_mark' />
				    <button class="leafAssessment">{{ Leaf.leaf_name }}</button>     
				</div><br />
			{% endfor %}	
		</div>
	</div>
	<h3 id="Sessions">Sessions</h3>    
	<div>
		<table>
			<form id='frmSession' action="" method="post">{% csrf_token %}		
				<input hidden name='assessmentID' Value="{{ Assessment.id }}">
				<input hidden id='sessionID' name='sessionID' Value="">
					{{ sessionForm.as_table }}
				<tr><td></td><td><input type='submit' name='funcS' value='Update'></input>
				<input type='submit' name='funcS' value='Add'></input>
				<input type='submit' name='funcS' value='Remove'></input></td></tr>
			</form>
		</table>
		<div id="sessionList">
			{% for Session in Sessions %}
				<div id="{{ Session.id }}">
				    <input hidden value='{{ Session.opened }}' class='opened' />
				    <input hidden value='{{ Session.closed }}' class='closed' />
				    <input value='{{ Session.status }}' class='status' />
				    <button class="session">{{ Session.session_name }}</button><a href="/lecturer/manage/{{ C }}/{{ Assessment.id }}/{{ Session.id }}/">manage</a>	     
				</div><br />
			{% endfor %}  
		</div>
	</div>
    </div>
    <br />
{% endblock %}