{% extends "base.html" %}

{% block title %}Squirrel Marking - Session Manager{% endblock %}


{% block menu_shortcuts %}
{% include "menu.html" %}
{% endblock %}

{% block content_title %}
	<h1 id="content_title">Session Manager</h1>
{% endblock %}

{% block includes %}
	<script>
		$("#addMarker").click(function() {
			$('#markerList option:selected').each(function(){
				var $name = $(this).html();
				var $value = $(this).val();
				$("#activeMarkerList").append('<option value="'+$value+'">' + $name + '</option>');
				$('#markerList[value='$value']').remove();
			});
		});
		$("#removeMarker").click(function() {
			$('#activeMarkerList option:selected').each(function(){
				var $name = $(this).html();
				var $value = $(this).val();
				$("#markerList").append('<option value="'+$value+'">' + $name + '</option>');
				$('#activeMarkerList[value='$value']').remove();
			});
		});
		$("#addStudent").click(function() {
			$('#markerList option:selected').each(function(){
				var $name = $(this).html();
				var $value = $(this).val();
				$("#activeStudentList").append('<option value="'+$value+'">' + $name + '</option>');
				$('#studentList[value='$value']').remove();
			});
		});
		$("#removeStudent").click(function() {
			$('#activeMarkerList option:selected').each(function(){
				var $name = $(this).html();
				var $value = $(this).val();
				$("#studentList").append('<option value="'+$value+'">' + $name + '</option>');
				$('#activeStudentList[value='$value']').remove();
			});
		});
		$("#submit").click(function() {
			var markerList = $('select[name=activeMarkerList]').val();
			var studentList = $('select[name=activeStudentList]').val();
			var assessmentID = $('select[name=assessment]').val();
			var sessionName = $('#session_name').val();
			var opend = $('#opendate').val();
			var close = $('#closedate').val();
			$.ajax({
				type: 'POST',
				url: "/create_session/"
				data: {markers : markerList, students : studentList, opened : opend, closed : close, assessment_id : assessmentID},
				success: function (data) {
					$('msg').html() = "Session added successfully";        }
			});
	</script>
	
	<script type="text/javaScript">
		function removeListItem(){
			var htmlSelect=document.getElementById('session');

			if(htmlSelect.options.length==0){
				alert('You have removed all session');
				return false;
			}
			var optionToRemove=htmlSelect.options.selectedIndex;
			$.ajax({
			      type: 'POST',
			      url: "/delete_session/"
			      // how do we get session id, marker id?
			      data: {'session_id' : sessionID, 'marker_id' : markerID},
			      success: function (data) {
					$('msg').html() = "Session deleted successfully";
					htmlSelect.remove(optionToRemove);
					alert('The selected session has been removed successfully');
				}			
			return false;
	</script>
{% endblock %}

{% block content %}
	<div id="assessmentDetails">
	Assessment:
	<select id="assessments" name="assessment" class="input">
		{% for assessment in assessments %}
			<option value="{% assessment.getID %}">{% assessment.getName %}</option>
		{% endfor %}
	</select>
		</br></br>
		<div id="panel">
		<form>
			<fieldset><legend>Create Session</legend>
				Session name:<input type="text" id="session_name" name="session_name" class="input">
				Open date:<input type="date" id="opendate" name="opened" class="input">
				Close date:<input type="date" id="closedate" name="closed" class="input">
			</br>
			</fieldset>
		</form>
		</div>
	</div>
	</br>
	<div id="markers">
		<h3>Markers:</h3>
		Available:
		<select name="markerList" multiple="multiple">
		{% for marker in markers %}
			<option value="{% marker.upId %}">{% marker.surname %}, {% marker.firstName %}</option>
		{% endfor %}
		</select>
		<button id="addMarker">Add</button>
		<button id="removeMarker">Remove</button>
		Active:
		<select name="activeMarkerList" multiple="multiple">
		</select>
	</div>
	<div id="students">
		<h3>Students:</h3>
		Available:
		<select name="studentList" multiple="multiple">
		{% for student in students %}
			<option value="{% student.upId %}">{% student.surname %}, {% student.firstName %}</option>
		{% endfor %}
		</select>
		<button id="addStudent">Add</button>
		<button id="removeStudent">Remove</button>
		Active:
		<select name="activeStudentList" multiple="multiple">
		</select>
	</div>
	<button id="submit">Submit</button>
	<div id="msg"></div>
{% endblock %}