{% block includes %}
	<script src="jquery.js"></script>
	<script src="{{ STATIC_URL }}/static/js/jquery.js"></script>
	<script>
		$(document).ready(function(){
			var module = $('#studentModules').val();
			$('#selectModule').on('click', function(){
				$.ajax({
				  type: "POST",
				  url: '/getStatistics/',
				  data: {module : module}
			}).success(function(reponse){
				$('#reportsDisplay').load(reponse.toString());
			});
		});
	
	</script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/theme.css">
{% endblock %}
<div id="displayContainer">
	<h2> Statistics </h2>
	<div id="modulesContainer">
		<select id='studentModules'>
			{% for module in modules: %}
				<option id='{{ module.getModuleCode() }}' value='{{ module.getModuleCode() }}'> </option> {{ module.getModuleCode() }}
			{% endfor %}
		</select>
	</div>
	<input type='button' id="selectModule" value="submit" name="selectModule" class="submitButtons">
	<div id="reportsDisplay">
		
	</div>
</div>