{% block includes %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/theme.css">
{% endblock %}
<h3> Statistics &amp; Freqency Analysis </h3>
<div id="statistics">
	<h4> Statistics </h4>
	<h4> {{ module }} </h4>
	<table id="statisticsTable" name="StatisticsTable">
		<td id="statisticsColumn">
			<tr> Mean: <span id="meanValue"> {{ freqOfModule.mean }} </span></tr><br/>
			<tr> Median: <span id="medianValue"> {{ freqOfModule.median }} </span></tr><br/>
			<tr> Mode: <span id="modeValue"> {{ freqOfModule.mode }} </span></tr><br/>
			<tr> Range: <span id="rangeValue">{{ freqOfModule.range }} </span></tr><br/>
		</td>
	</table>
</div>
<div id="frequencyAnalysis">
	<h4> Frequency Analysis </h4>
	<div id="imageContainer">
		<img src="{{ freqOfModule.chart.location }}" alt='image cannot be displayed' height='300' width='300'/>
	</div>
</div>