{% extends "base.html" %}

{% block title %}Marks Management{% endblock %}

{% block includes %}
	<link href="{{ STATIC_URL }}css/marks.css" rel="stylesheet" type="text/css" />
	<script src="{{ STATIC_URL }}js/marks.js" type="text/javascript"></script>
{% endblock %}

{% block menu_shortcuts %}
{% include "menu.html" %}
{% endblock %}

{% block content_title %}<h1 align="center">Marks Management</h1>{% endblock %}

{% block content %}
	<div id="main-menu">
			
		<div id="menu-pane">
			<div id="filter">
				Module:<select>
				{% for course in courses.courseList %}
					<option value="Lecture"> Cos {{ courses.moduleCode.0}}</option>
				{% endfor%}
				
				</select>
				Assesment:<select>
				  <option value="Lecture">Semester Test 1</option>
				  <option value="Lecture">Semester Test 2</option>
				  <option value="Lecture">Practical 1</option>
				  <option value="Lecture">Practical 2</option>
				  <option value="Lecture">Practical 3</option>
				  <option value="Lecture">Practical 4</option>
				</select>

				<button type="button" id="go"> GO!</button>
		
			</div>
			<br>
		
			
			<form id="marksheet" name="marksheet" method="post" action="/marks-management/">
				<table id="marksheetTable" >
					<tr id="thead"><th>Task/Question#</th><th>Weight</th><th>Mark</th><th>Student #</th></tr>
					<tr><td >Task 1</td><td>10</td><td contenteditable="true">12</td><td>10404687</td></tr>
					<tr><td >Task 2</td><td>15</td><td contenteditable="true">3</td><td>10404687</td></tr>
					<tr><td >Task 3</td><td>12</td><td contenteditable="true">12</td><td>10404687</td></tr>
					<tr><td >Task 4</td><td>13</td><td contenteditable="true">9</td><td>10404687</td></tr>
					<tr id="thead"><th></th><th>Total</th><th>36</th><th></th></tr>
				</table>
				<br>
				<button type="button"id="submit"> Save Changes</button>
				<br>
			</form>
		</div>
	
	</div>
{% endblock %}
