{% extends "base.html" %}

{% block title %}Student{% endblock %}

{% block includes %}
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/theme.css"> 
{% endblock %}

{% block menu_shortcuts %}
<ul id="menu-bar">
<li><a href="/index/">Home</a></li>
<li><a href="/assessmentView/">Assessments</a>
<ul>
<li><a href="/assessmentManager/">Create/Edit Assessment</a></li>
</ul>
</li>
<li><a href="/Reporting_Main/">Reporting</a></li>
<li><a href="/marks-management/">Marks Management</a></li>
</ul>
{% endblock %}
{% block content %}
	<div>
	<h3> Student Details </h3>
	<label> Student Name:{{ stu_name}} </label> <br>
	<label> Student Surname: {{ stu_surname }} </label> <br>
	<label> Student Number: {{ stu_num }} </label> <br>
	{% for assessment in assessments %}
		<label> Mean: {{ mean }}  </label> <br>
		<label> Median:{{ median }}  </label> <br>
		<label> Mode:{{ mode }}  </label> <br>					 
	{% endfor %}
	</div>
{% endblock %}
