{% block includes %}
	<script type = "text/javascript">
		$(document).ready(function(){
			$('#submitRequestButton').click(function(){
				$('#renderingOptions').show();
				$('#containerDisplay').load('/Statistics/');
			});
		  
			$('#empty').load(function(){
				$.ajax({
				  type: "POST",
				  url: '/getLecturerModules/'
				});
			});
		  
			$('#semesterTestContainerList').load(function(){
				var type = 'ST';
				$.ajax({
				  type: "POST",
				  url: '/getLeafAssessments/',
				  data: {type : type}
				});
			});
			  
			$('#classTestContainerList').load(function(){
				var type = 'CT';
				$.ajax({
				  type: "POST",
				  url: '/getLeafAssessments/',
				  data: {type : type}
				});
			});
			  
			  
			$('#tutorialTestContainerList').load(function(){
				var type = 'TUT';
				$.ajax({
				  type: "POST",
				  url: '/getLeafAssessments/',
				  data: {type : type}
				});
			});
			  
			$('#practicalTestContainerList').load(function(){
				var type = 'P';
				$.ajax({
				  type: "POST",
				  url: '/getLeafAssessments/',
				  data: {type : type}
				});
			});
		  
			$('#searchBtn').click(function(){
				var searchedItem = $('#searchStudent').val();
				$('#list').load('studentChosen.html');
			});
			  
			$('#moduleMark, #semesterMark, #examMark, #submitRequestButton').click(function(){
				var type = $(this).attr('id');
				var module = $('#lecturerModules').val();
				$.ajax({
				  type: "POST",
				  url: '/getAssessments/',
				  data: {type : type, mod_code : module}
				});
			});
			  
			$('#moduleMark, #semesterMark, #examMark, #submitRequestButton').click(function(){
				var type = $(this).attr('id');
				var module = $('#lecturerModules').val();
				$.ajax({
				  type: "POST",
				  url: '/getAssessments/',
				  data: {type : type, mod_code : module}
				});
			});
			  
			$('#submitRequestButton').click(function(){
				var leafAssessment;
				  
				$('input:radio').each(function () {
					if ($(this).is(':checked').length > 0)
					{
						leafAssessment = $(this).val();
					}
					  
					else
					{
						alert('No Leaf Assessment Chosen');
						return;
					}
				});
				  
				var type = $(this).attr('id');
				var module = $('#studentModules').val();
				var studentID = $('.searchContainer div').attr('id');
				  
				$.ajax({
				  type: "POST",
				  url: '/getAssessments/',
				  data: {type : type, mod_code : module, studentID : studentID, leafAssessment : leafAssessment}
				});
			});
		});
	</script>
	
{% endblock %}
{% block content %}
	<div id="AssessmentReportContainer">
		<h2> Assessment Report </h2>
		<div id="empty"></div>
		<div id="modulesContainer">
			<select id='lecturerModules'>
				{% for module in modules %}
					<option id='{{ module }}' value='{{ module }}'>{{ module }}</option> 
				{% endfor %}
			</select>
		</div>
		<div id="moduleMarkContainer">
			<input id="moduleMark" type='button' class="submitButtons" name='moduleMark' value="Module Mark">
		</div>
		<div id="examMarkContainer">
			<input id="examMark" type='button' class="submitButtons" name='examMark' value="Exam Mark">
		</div>
		<div id="semesterMarkContainer">
			<input id="semesterMark" type='button' class="submitButtons" name='semesterMark' value="Semester Mark">
		</div>
		<div id="semesterTestContainer">
			<h3 class="AssessmentTitle"> Semester Tests: </h3>
			<div id="semesterTestContainerList">
			{% if type == 'ST' %}
				{% for leaf in leafAssessmentList %}
					<input class='allradio' type="radio" name="leafAssessment" value="{{ leaf.leaf_name }}">{{ leaf.leaf_name }}
				{% endfor %}
			{% endif %}
			</div>
		</div>
		<div id="classTestContainer">
			<h3 class="AssessmentTitle"> Class Tests: </h3>
			<div id="classTestContainerList">
				{% if type == 'CT' %}
					{% for leaf in leafAssessmentList %}
						<input class='allradio' type="radio" name="leafAssessment" value="{{ leaf.leaf_name }}">{{ leaf.leaf_name }}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div id="tutorialTestContainer">
			<h3 class="AssessmentTitle"> Tutorial Tests: </h3>
			<div id="tutorialTestContainerList">
			{% if type == 'TUT' %}
				{% for leaf in leafAssessmentList %}
					<input class='allradio' type="radio" name="leafAssessment" value="{{ leaf.leaf_name }}">{{ leaf.leaf_name }}
				{% endfor %}
			{% endif %}
			</div>
		</div>
		<div id="practicalTestContainer">
			<h3 class="AssessmentTitle"> Practical Tests: </h3>
			<div id="practicalTestContainerList">
			{% if type == 'P' %}
				{% for leaf in leafAssessmentList %}
					<input class='allradio' type="radio" name="leafAssessment" value="{{ leaf.leaf_name }}">{{ leaf.leaf_name }}
				{% endfor %}
			{% endif %}
			</div>
		</div>
		<br>
		<input id='submitRequestButton' type='button' class="submitButtons" name='SubmitAssessmentRequest' value="Submit Request">
		
			<form action="/renderAsPDF/" method="post">{% csrf_token %}
				{{ form.as_p }}
				<h2> Rendering options </h2>
				<div id="renderAsPDF"> <input class="renderButton" id="GetPDFAudit" name="SaveAsPDf" type="button" value="Get PDF"> </div>	
			</form>
			<form action="/renderAsCSV/" method="post">{% csrf_token %}
				{{ form.as_p }}
				<h2> Rendering options </h2>
				<div id="renderAsCSV"> <input class="renderButton" id="GetCSVAudit" name="SaveAsCSV" type="button" value="Get CSV"></div>
			</form>
	</div>
{% endblock %}