{% extends "base.html" %}

{% block title %}Squirrel Marking - Assessment View{% endblock %}

{% block menu_shortcuts %}
{% include "menu.html" %}
{% endblock %}

{% block includes %}
	 <script type="text/javascript">
			
		var type = $(".assType").attr('id');

		$('#GetPDFAudit').click(function(){
			  
			$("#aud").load("renderForm.html #formDiv");
			  
		});
		  
		$('#GetCSVAudit').click(function(){
			//implement code here
		});

	</script>
{% endblock %}
{% block content %}

<div class="displayContainerClass" id="stuRepSearch" >
	<div id="auditLogReportContainer">
		<div id="filters">
			<label id="dateFrom"> Date From: </label> <input  type="date" name="bday" placeholder="YYYY-MM-DD"><br>
			<label id="dateTo"> Date To: </label> <input type="date" name="bday" placeholder="YYYY-MM-DD"><br>
			<label id="person"> Person: </label> <input type="text" name="Person" placeholder="Name or upID"><br><br>
			<input class="renderButton" type="button" value="Filter Audit Log" id="displayAuditLog">
		</div>
		<!-- Plug in audit log -->
		<div id="auditlogList" style="width:700px;text-align:center">
			<h1> Audit Log </h1>
			<div id="auditReportDisplay">
				<img src="{{ STATIC_URL }}img/DummyAuditReport.jpg" alt='picture cannot be displayed' width='700' height='300'>
			</div>
		</div>
		
		<form action="/renderAsPDF/" method="post">{% csrf_token %}
			{{ form.as_p }}
			<h2> Rendering options </h2>
			<div id="renderAsPDF"> <input class="renderButton" id="GetPDFAudit" name="SaveAsPDf" type="button" value="Get PDF"> </div>	
		</form>
			<form action="/renderAsCSV/" method="post">{% csrf_token %}
			{{ form.as_p }}
			<h2> Rendering options </h2>
			<div id="renderAsCSV"> <input class="renderButton" id="GetCSVAudit" name="SaveAsCSV" type="button" value="Get CSV"></div>
		</form>
	</div>
</div>
{% endblock %}