{% extends "base.html" %}

{% block title %}Squirrel Marking - Audit Report{% endblock %}

{% block menu_shortcuts %}
{% include "menu.html" %}
{% endblock %}

{% block content_title %}
	<h1 id="content_title">Audit Report</h1>
{% endblock %}

{% block includes %}
	
{% endblock %}
{% block content %}

<div class="displayContainerClass" id="stuRepSearch" >
	<div id="auditLogReportContainer">
		<div id="filters">
			<label id="dateFrom"> Date From: </label> <input  type="date" name="bday" placeholder="YYYY-MM-DD"><br>
			<label id="dateTo"> Date To: </label> <input type="date" name="bday" placeholder="YYYY-MM-DD"><br>
			<label id="person"> Person: </label> <input type="text" name="Person" placeholder="Name or upID"><br><br>
			<input class="renderButton" type="button" value="Filter Audit Log" id="displayAuditLog">
		</div>
		<!-- Plug in audit log -->
		<div id="auditlogList" style="width:700px;text-align:center">
			<h1> Audit Log </h1>
			<div id="auditReportDisplay">
				<img src="{{ STATIC_URL }}img/DummyAuditReport.jpg" alt='picture cannot be displayed' width='700' height='300'>
			</div>
		</div>
	</div>
</div>
{% endblock %}