<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}css/menubar.css" rel="stylesheet" type="text/css" />
		{% block includes %}{% endblock %}
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
	</head>
	<body>
		<header>
			<div id="logo">
				<img id="logo_img" src="{{ STATIC_URL }}img/logo.jpg" alt="Hamster Marking Logo">
			</div>
			<div id="menu_shortcuts">
				{% block menu_shortcuts %}{% endblock %}
			</div>
		</header>
		<nav>
			<div id="content_title">
				{% block content_title %}{% endblock %}
			</div>
		</nav>
		<section>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</section>
	</body>
</html>