{% extends "base.html" %}

{% block title %}Squirrel Marking - Lecturer{% endblock %}

{% block menu_shortcuts %}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
<div id="assessment">
<h1>Assessment</h1>
<lable id="location"></label>
<form>
<label for="name">Name:</label><input type="text" name="name" required></br>
<label for="name">Type:</label><input type="text" name="type" required></br>
<label for="name">Weight:</label><input type="number" name="weight" required></br>
<input type="button" value="Update">
</form>
</div>
<div id="leafAssessment">
<h1>Leaf Assessment</h1>
<form>
<label for="name">Name:</label><input type="text" name="name" required></br>
<label for="mark">Mark:</label><input type="number" name="mark" required></br>
<input type="button" value="Add">
<input type="button" value="Update"></br>
<ul name="leafList">
</ul>
</form>
</div>
<div id="session">
<h1>Session</h1>
<form>
<label for="openTime">Open time:</label><input type="text" name="openTime" required></br>
<label for="closeTime">Close time:</label><input type="number" name="closeTime" required></br>
<input type="button" value="Add"></br>
<ul name="sessionList">
</ul>
</form>
</div>
{% endblock %}