<div id="{{ C }}">
  {% if role == 'lecturer' %}	
    <button class='addAssessment'>Add new Assessment</button>
  {% endif %}
  <div class='submenu'>  
  {% if ObjectList|length > 0 %}
    {% for Assessment in ObjectList %}
    
	    <div id="{{ Assessment.0.id }}">
	      {% if role == 'student' %}	  
		<a href="/student/{{ C }}/{{ Assessment.0.id }}/" class="assessment">{{ Assessment.0.assessment_name }}</a> :{{ Assessment.1.0.2 }}/{{ Assessment.1.0.1 }}
	      {% endif %}
	      
	      {% if role == 'tutor' %}	  
		<a href="/tutor/{{ C }}/{{ Assessment.0.id }}/" class="assessment">{{ Assessment.0.assessment_name }}</a> : 
	      {% endif %}
	      
	      {% if role == 'teachingAssistant' %}	  
		<a href="teachingAssistant/{{ C }}/{{ Assessment.0.id }}/" class="assessment">{{ Assessment.0.assessment_name }}</a> :
	      {% endif %}
	      
	      {% if role == 'lecturer' %}	  
		<a href="/lecturer/{{ C }}/{{ Assessment.0.id }}/" class="assessment">{{ Assessment.0.assessment_name }}</a> :
		{% for Session in Assessment.1 %}
		  <a href="/lecturer/{{ C }}/{{ Assessment.0.id }}/{{ Session.id }}">{{ Session.session_name }}</a>
		{% endfor %}  
	      {% endif %}	  
	    </div><br />
	    
    {% endfor %}
  {% else %}
    <p>No data yet :)</p>
  {% endif %}
  </div>
</div>