{% extends "base.html" %}

{% block title %}Squirrel Marking - Assessment View{% endblock %}


{% block menu_shortcuts %}
<div id='menu-bar'>
	<ul>
	   <li ><a href='/index/'><span>Home</span></a></li>
	   <li class='has-sub'><a href='/assessmentView/'><span>Assessments</span></a>
		  <ul>
			 <li><a href='/assessmentManager/'><span>Create/Edit Assessment</span></a></li>
			 <li><a href='/sessionManager/'><span>Session Management</span></a></li>
			 <li class='last'><a href='/assessmentReport/'><span>Assessment Report</span></a></li>
		  </ul>
	   </li>
	   <li class='has-sub'><a href='/Reporting_Main/'><span>Reporting</span></a>
		  <ul>
			 <li><a href='/Statistics/'><span>Statistics</span></a></li>
			 <li><a href='/auditReport/'><span>Audit Report</span></a></li>
			 <li class='last'><a href='/studentReport/'><span>Student Report</span></a></li>
		  </ul>
	   </li>
	   <li class='has-sub'><a href='/marks-management/'><span>Marks Management</span></a>
			<ul>
			 <li class='last'><a href='/unpublish/'><span>Marks Publishing </span></a></li>
		  </ul>
	   </li>
	</ul>
</div>
{% endblock %}

{% block content_title %}
	<h1 id="content_title">Session Manager</h1>
{% endblock %}

{% block includes %}
	<link href="{{ STATIC_URL }}css/inputStyle.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
	Assessment:
	<select id="assessments" class="input"></select>
	</br></br>
	<div id="panel">
		Open date:<input type="date" id="date" class="input">
		</br>
		Close date:<input type="date" id="date" class="input">
		</br>
		Add marker:<input type="text" id="marker" class="input"><input type="button" value="add" id="add">
		</br>
		<a href="">Add student list</a>
	</div>
	</br>
	<a href="/assessmentManager/">Assessment Manager</a>
{% endblock %}