{% extends "base.html" %}

{% block title %}Student report{% endblock %}
	
	{% block includes %}
		<script src="{{ STATIC_URL }}/static/js/jquery.js"></script>
		<link href="{{ STATIC_URL }}/static/css/style.css" rel="stylesheet" type="text/css" />
	{% endblock %}
{% block menu_shortcuts %}
<!-- add menu -->	
{% endblock %}
{% block content_title %}<h1 align="center">Student report</h1>{% endblock %}

{% block content %}
	<div id="stuRepSearch" >
		<div id="searchContainer" style="width:600px">
			<form autocomplete = "on">
				<div> Search Student: <div> <input type="text" name ="StudentSearch" id="searchStudent" placeholder="Search student">
				<img id='searchBtn' src="{{ STATIC_URL }}/static/img/search_icon.jpg" width='20px' height='20px'/> 
				<!--<img id='searchBtn' src="search_icon.jpg" width='20px' height='20px'/>-->
			</form>
			<div id="list">
			
			</div>
			<div id="assessmentStudentReport">
				<div id="AssessmentReportContainer">
					<h2> Assessment Report </h2>
					<div id="moduleMarkContainer">
						<input id="moduleMark" type='button' class="submitButtons" name='moduleMark' value="Module Mark">
					</div>
					<div id="examMarkContainer">
						<input id="examMark" type='button' class="submitButtons" name='examMark' value="Exam Mark">
					</div>
					<div id="semesterMarkContainer">
						<input id="semesterMark" type='button' class="submitButtons" name='semesterMark' value="Semester Mark">
					</div>
					<div id="semesterTestContainer">
						<h3 class="AssessmentTitle"> Semester Tests: </h3>
						<input class='allradio' type="radio" name="leafAssessment" value="ST1">ST1
						<input class='allradio' type="radio" name="leafAssessment" value="ST1">ST2
					</div>
					<div id="classTestContainer">
						<h3 class="AssessmentTitle"> Class Tests: </h3>
						<input class='allradio' type="radio" name="leafAssessment" value="CT1">CT1
						<input class='allradio' type="radio" name="leafAssessment" value="CT2">CT2
						<input class='allradio' type="radio" name="leafAssessment" value="CT3">CT3
						<input class='allradio' type="radio" name="leafAssessment" value="CT4">CT4
					</div>
					<div id="tutorialTestContainer">
						<h3 class="AssessmentTitle"> Tutorial Tests: </h3>
						<input class='allradio' type="radio" name="leafAssessment" value="TUT1">TUT1
						<input class='allradio' type="radio" name="leafAssessment" value="TUT2">TUT2
						<input class='allradio' type="radio" name="leafAssessment" value="TUT3">TUT3
						<input class='allradio' type="radio" name="leafAssessment" value="TUT4">TUT4
					</div>
					<div id="practicalTestContainer">
						<h3 class="AssessmentTitle"> Practical Tests: </h3>
						<input class='allradio' type="radio" name="leafAssessment" value="P1">P1
						<input class='allradio' type="radio" name="leafAssessment" value="CT2">P2
						<input class='allradio' type="radio" name="leafAssessment" value="CT3">P3
						<input class='allradio' type="radio" name="leafAssessment" value="CT4">P4
					</div>
					<br>
					<input id='submitRequestButton' type='button' class="submitButtons" name='SubmitAssessmentRequest' value="Submit Request">
				</div>
			</div>
			<script>
				$('#searchBtn').click(function(){
					var searchedItem = $('#searchStudent').val();
					$('#list').load('studentChosen.html');
				});
			</script>
		</div>
	</div>
{% endblock %}
