{% block includes %}
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/theme.css"> 
{% endblock %}
<div>
	{% if students is not None: %}
		{% for student in students: %}
			<h3> Student Details </h3>
			<label> Student Name:{{ student.firstName}} </label> <br>
			<label> Student Surname: {{ student.surname }} </label> <br>
			<label> Student Number: {{ student.upId }} </label> <br><br>
		{% endfor %}
	{% endif %}
	{% elif per is not None: %}
		<h3> Student Details </h3>
		<label> Student Name: {{ student.firstName}} </label> <br>
		<label> Student Surname: {{ student.surname }} </label> <br>
		<label> Student Number: {{ student.upId }} </label> <br><br>
		{%  if type == 'moduleMark': %}
			{% for assessment in usrAllAssessments: %}
				<label> Assessment: {{ assessment.getName() }} </label> <br>	
				<label> Module: {{ assessment.getModule() }} </label> <br>
				<label> Mark: {{ assessment.getMark() }} </label> <br><br>
			{% endfor %}
		{% elif type == 'semesterMark': %}
			<label> Assessment: {{ assessment.getName() }} </label> <br>	
			<label> Module: {{ assessment.getModule() }} </label> <br>
			<label> Mark: {{ assessment.getMark() }} </label> <br><br>
			
		{% elif type == 'examMark': %}
			<label> Assessment: {{ assessment.getName() }} </label> <br>	
			<label> Module: {{ assessment.getModule() }} </label> <br>
			<label> Mark: {{ assessment.getMark() }} </label> <br><br>
			
		{% elif type == 'submitRequestButton': %} <!-- Leaf Assessments -->
			<label> Assessment: {{ assessment.getName() }} </label> <br>	
			<label> Module: {{ assessment.getModule() }} </label> <br>
			<label> Mark: {{ assessment.getMark() }} </label> <br><br>
	{% endif %}
</div>
