{% extends "base.html" %}

{% block title %}Student{% endblock %}

{% block includes %}
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/theme.css"> 
{% endblock %}
{% block content %}
	<div>
	<h3> Student Details </h3>
	<label> Student Name:{{ stu_name}} </label> <br>
	<label> Student Surname: {{ stu_surname }} </label> <br>
	<label> Student Number: {{ stu_num }} </label> <br>
	{% for assessment in assessments %}
		<label> Mean: {{ mean }}  </label> <br>
		<label> Median:{{ median }}  </label> <br>
		<label> Mode:{{ mode }}  </label> <br>					 
	{% endfor %}
	</div>
{% endblock %}
