{% extends "web_interface/base_template.htm" %}

{% block title %} Add user {% endblock %}

<!--###########################  Nav bar settings ############################-->

{% block logout_button %}
	<li><a href="/">Logout</a></li>
{% endblock %}
	
{% block person_details %}
	<li><a href="person_details" > <span class="glyphicon glyphicon-user"></span> </a></li>
{% endblock %}

<!--###########################  End Nav bar settings ############################-->

<!--###########################  Courses dropdown ############################-->
<!-- Courses button -->
{% block courses_dropdown %}
{% for role in user_lect.0.LC %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_stud.0.ST %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_tut.0.TT %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_ta.0.TA %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Courses button -->

<!-- Use as button -->
{% block courses_use_as %}
{% for role in user_roles %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->

<!--###########################  jumbotron part ############################-->
{% block jumbotron_header %} Add user to {% endblock %}

{% block jumbotron_sub_header %} {{ assessmentName }} {% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="input-group">
			<span class="input-group-btn">
				<form action="/view_session" method="post">
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
				</form>
			</span>
		</div>
		
		<div class="list-group">
			{% for per in students %}
				<a href="#" class="list-group-item">{{ per.1 per.2 per.0 }}</a>
			{% endfor %}
		</div>
		
		
	</div>
	<div class="col-md-3"></div>
</div><!--End of Modal for ContactUs-->


{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}
