{% extends "web_interface/base_template.htm" %}

{% block title %} Added user {% endblock %}

<!--###########################  Nav bar settings ############################-->
{% block header%}
	<li class="active"><a href="/hamster_home">Home</a></li>
	<li><a onclick="goBack();">Back</a></li>
	<li><a href="/logout">Logout</a></li>
	<li><a href="#" onclick="document.getElementById('details').submit(); return false" > <span class="glyphicon glyphicon-user"></span> </a></li>
	<form action="/User" id="details" method="post" hidden='hidden'>{% csrf_token %}
	</form>
	<li>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Courses <b class="caret"></b></a>
		<ul class="dropdown-menu">
		{% for role in user_lect.0.LC %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="lectB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_stud.0.ST %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="studB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_tut.0.TT %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="tutB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_ta.0.TA %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="taB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		</ul>
	</li>
	<li>
					
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Use as <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{% for role in user_roles %}
			<li>
				<form action="/user-mode" method="post" hidden="hidden" class="use-as">
					{% csrf_token %}
					<input type="text" name="role" value={{ role }}>
				</form>
				<a onclick="$(this).parent().children('form.use-as').submit();"> {{ role }}</a>
			</li>
			{% endfor %}
		</ul>
	</li>	
{%endblock%}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->

<!--###########################  jumbotron part ############################-->


{% block jumbotron_header %} Users in session {% endblock %}

{% block jumbotron_sub_header %} {{ sessionName }} {% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}

<div class="row">
	{% if studentAdded == None %}
	<!-- Do nothing no alert is required -->
	{% else %}
	{% if studentAdded == -1 %}
		
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Warning!</strong> User's were not successfuly added to session, please try again.
		</div>
	{% elif studentAdded == 1 %}
	
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Success!</strong> User's were successfuly added to session.
		</div>

	{% endif %}
		
	{% endif %}
	{% if studentRemoved == None %}
	<!-- Do nothing no alert is required -->
	{% else %}
	{% if studentRemoved == -1 %}
		
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Warning!</strong> User's were not successfully removed from session, please try again.
		</div>
	{% elif studentRemoved == 1 %}
	
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Success!</strong> User's were successfully removed from session.
		</div>

	{% endif %}
		
	{% endif %}
	<div class="col-md-6">
		
		<!--<div class="list-group">
			<a href="#" class="list-group-item disabled"> Students in session </a>
				{%for per in students%}
					<a href="#" class="list-group-item" > {{ per.0 }}, {{ per.1 }} {{per.2 }}</a>
				{%endfor%}
		</div>
		
		<form method="post" action="view-students">{% csrf_token %}
			<button  type="submit" name="submit" class="btn btn-primary btn-lg btn-block">
				<span class="glyphicon glyphicon-plus"></span> Add student to session
			</button>
			<input type="hidden" name="session" value={{session_id}}>
			<input type="hidden" name="module" value={{ module }}>
		</form>-->

		<h3><span class="label label-default">Select students to remove</span></h3>
		<form id="remove_student_from_session_form" role="form" method="post" action="remove-stud" data-parsley-validate>{% csrf_token %}
			<div class="form-group">
				<select multiple class="form-control" name="userS" id="multiselectRemoveStudentsForSession" required>
					{% for per in students %}
						<option value={{ per.0 }}>{{ per.0 }}, {{ per.1 }} {{per.2 }}</option>
					{% endfor %}
				</select>
				<input type="hidden" name="session" value={{ session_id }}><br>
				<input type="hidden" name="userM" value=""/><br>
			</div>
			<button type="submit" name="module" class="btn btn-danger btn-block" value={{ module }}>
				<span class="glyphicon glyphicon-trash"></span> Remove Student(s)</button><br>
		</form>
		
		<form method="post" action="view-students">{% csrf_token %}
			<div class="clearfix">
				<button  type="submit" name="submit" class="btn btn-primary btn-block">
					<span class="glyphicon glyphicon-plus"></span> Add student to session
				</button>
			</div>
			<input type="hidden" name="session" value={{session_id}}>
			<input type="hidden" name="module" value={{ module }}>
		</form>

		
	</div>
	<div class="col-md-6">

		<!--<div class="list-group">
			<a href="#" class="list-group-item disabled"> Markers in session </a>
				{% for mar in marker %}
					<a href="#" class="list-group-item" > {{ mar.0 }}, {{ mar.1 }} {{mar.2 }}</a>
				{% endfor %}
		</div>
		
		<form method="post" action="view-students">{% csrf_token %}
			<button type="submit" name="submit" class="btn btn-primary btn-lg btn-block">
				<span class="glyphicon glyphicon-plus"></span> Add marker to session
			</button>
			<input type="hidden" name="session" value={{session_id}}>
			<input type="hidden" name="module" value={{ module }}>
		</form>-->
		
		<h3><span class="label label-default">Select markers to remove</span></h3>
		<form id="remove_marker_from_session_form" role="form" method="post" action="remove-stud" data-parsley-validate>{% csrf_token %}
			<div class="form-group">
				<select multiple class="form-control" name="userM" id="multiselectRemoveMarkerForSession" required>
					{%for per in marker %}
						<option value={{ per.0 }}>{{ per.0 }}, {{ per.1 }} {{per.2 }}
						</option>
					{%endfor%}
				</select>
				<input type="hidden" name="session" value={{ session_id }}><br>
				<input type="hidden" name="userS" value="None"/><br>
				<input type="hidden" name="module" value={{ module }}>
			</div>
			<button type="submit" class="btn btn-danger btn-block">
			<span class="glyphicon glyphicon-trash"></span> Remove Marker(s)</button><br>
		</form>
		
		<form method="post" action="view-students">{% csrf_token %}
			<div class="clearfix">
				<button type="submit" name="submit" class="btn btn-primary btn-block">
					<span class="glyphicon glyphicon-plus"></span> Add marker to session
				</button>
			</div>
			<input type="hidden" name="session" value={{session_id}}>
			<input type="hidden" name="module" value={{ module }}>
		</form>


	</div>
</div>


{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################--> 


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}
