{% extends "web_interface/base_template.htm" %}

{% block title %}Home{% endblock  %}

<!--###########################  Nav bar settings ############################-->

{% block logout_button %}
	<li><a href="/">Logout</a></li>
{% endblock %}
	
{% block person_details %}
	<li><a href="#" onclick="document.getElementById('details').submit(); return false" > <span class="glyphicon glyphicon-user"></span> </a></li>
            <form action="/User" id="details" method="post" hidden='hidden'>{% csrf_token %}
	</form>
{% endblock %}

<!--###########################  End Nav bar settings ############################-->

<!--###########################  Courses dropdown ############################-->
<!-- Courses button -->
{% block courses_dropdown %}
{% for role in user_lect.0.LC %}
	<li><a id={{ role }} href="/course/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_stud.0.ST %}
	<li><a id={{ role }} href="/course/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_tut.0.TT %}
	<li><a id={{ role }} href="/course/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_ta.0.TA %}
	<li><a id={{ role }} href="/course/{{ role }}"> {{ role }}</a></li>
{% endfor %}

{% endblock %}
<!-- End of Courses button -->

<!-- Use as button -->
{% block courses_use_as %}
{% for role in user_roles %}
	<li><a id={{ role }} href="/use_as/{{ role }}"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->

{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li><a href="#">Login</a></li>
		<li class="active"><a href="#">Home</a></li>
	</ol>
{% endblock %}


{% block jumbotron_header %} Hamster Marking System {% endblock %}

{% block jumbotron_sub_header %} Aggrgegation {% endblock %}


<!--###########################  jumbotron part ############################-->
<!-- jumbotron content -->
{% block jumbotron_content %}

<form id="aggregateB" method="post" action="/aggregateMarkForAssessment">
    {% csrf_token %}
    <input type="hidden" value="BestOf" name="agg_name">
    <input type="hidden" value="2" name="numC">
    <input type="hidden" value={{assess_id}} name="assess_id">
    <input type="hidden" value={{children}} name="children">
    <input type="hidden" value={{module}} name="module">
    <input type="submit"  name="Aggregate" value="Aggregate BestOf">
</form>

{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}
