{% extends "web_interface/base_template.htm" %}

{% block title %}Home{% endblock  %}

<!--###########################  Nav bar settings ############################-->
{% block header%}
	<li class="active"><a href="/hamster_home">Home</a></li>
	<li><a onclick="goBack();">Back</a></li>
	<li><a href="/logout">Logout</a></li>
	<li><a href="#" onclick="document.getElementById('details').submit(); return false" > <span class="glyphicon glyphicon-user"></span> </a></li>
	<form action="/User" id="details" method="post" hidden='hidden'>{% csrf_token %}
	</form>
	<li>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Courses <b class="caret"></b></a>
		<ul class="dropdown-menu">
		{% for role in user_lect.0.LC %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="lectB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_stud.0.ST %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="studB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_tut.0.TT %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="tutB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_ta.0.TA %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="taB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		</ul>
	</li>
	<li>
					
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Use as <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{% for role in user_roles %}
			<li>
				<form action="/user-mode" method="post" hidden="hidden" class="use-as">
					{% csrf_token %}
					<input type="text" name="role" value={{ role }}>
				</form>
				<a onclick="$(this).parent().children('form.use-as').submit();"> {{ role }}</a>
			</li>
			{% endfor %}
		</ul>
	</li>
{%endblock%}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->



{% block jumbotron_header %} Hamster Marking System {% endblock %}

{% block jumbotron_sub_header %} Aggrgegation {% endblock %}


<!--###########################  jumbotron part ############################-->
<!-- jumbotron content -->
{% block jumbotron_content %}

<form id="aggregateB" method="post" action="/aggregateMarkForAssessment">
    {% csrf_token %}
    <input type="hidden" value="BestOf" name="agg_name">
    <input type="hidden" value="2" name="numC">
    <input type="hidden" value={{assess_id}} name="assess_id">
    <input type="hidden" value={{children}} name="children">
    <input type="hidden" value={{module}} name="module">
    <input type="submit"  name="Aggregate" value="Aggregate BestOf">
</form>

{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}
