{% extends "web_interface/base_template.htm" %}

{% block title %} Assessment Center {% endblock %}

<!--###########################  Nav bar settings ############################-->
{% block header%}
	<li class="active"><a href="/hamster_home">Home</a></li>
	<li><a onclick="goBack();">Back</a></li>
	<li><a href="/logout">Logout</a></li>
	<li><a href="#" onclick="document.getElementById('details').submit(); return false" > <span class="glyphicon glyphicon-user"></span> </a></li>
	<form action="/User" id="details" method="post" hidden='hidden'>{% csrf_token %}
	</form>
	<li>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Courses <b class="caret"></b></a>
		<ul class="dropdown-menu">
		{% for role in user_lect.0.LC %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="lectB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_stud.0.ST %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="studB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_tut.0.TT %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="tutB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_ta.0.TA %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="taB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		</ul>
	</li>
	<li>
					
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Use as <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{% for role in user_roles %}
			<li>
				<form action="/user-mode" method="post" hidden="hidden" class="use-as">
					{% csrf_token %}
					<input type="text" name="role" value={{ role }}>
				</form>
				<a onclick="$(this).parent().children('form.use-as').submit();"> {{ role }}</a>
			</li>
			{% endfor %}
		</ul>
	</li>
		
{%endblock%}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->


{% block jumbotron_header %}
	
	{% ifequal assessment '' %}
		
	{% else %}
		<div class="text-center"><div class="label label-default">Assessment Center</div></div>
	{% endifequal %}
{% endblock %}

{% block jumbotron_sub_header %}
{% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}
<!-- End of jumbotron content -->

<!-- Audit table -->
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#pane1" data-toggle="tab">Aggregation</a></li>
    <li><a href="#pane2" data-toggle="tab">Statistics</a></li>
    <li><a href="#pane3" data-toggle="tab">Graph stats</a></li>
    <li><a href="#pane4" data-toggle="tab">More Options</a></li>
  </ul>
  <div class="tab-content">
{% if aggregateChanged == None %}
	<!-- Do nothing no alert is required -->
{% else %}
{% if aggregateChanged == -1 %}
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
		</span><span class="sr-only">Close</span></button>
		<strong>Warning!</strong> Aggregator could not be changed, please try again.
	</div>
{% elif aggregateChanged == 1 %}
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
		</span><span class="sr-only">Close</span></button>
		<strong>Success!</strong> Aggregator was successfully changed.
	</div>

{% endif %}
		
{% endif %}
{% if NameChanged == None %}
	<!-- Do nothing no alert is required -->
{% else %}
{% if NameChanged == -1 %}
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
		</span><span class="sr-only">Close</span></button>
		<strong>Warning!</strong> Assessment name could not be changed, please try again.
	</div>
{% elif NameChanged == 1 %}
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
		</span><span class="sr-only">Close</span></button>
		<strong>Success!</strong> Assessment name was successfully changed.
	</div>

{% endif %}
		
{% endif %}
    <div id="pane1" class="tab-pane active">
      <h4> <span class="label label-info">{{ assessmentName }}</span></h4><br>
		
		<!--Aggregation panel-->
		<div class="panel panel-primary">
		  <div class="panel-heading">
			<h3 class="panel-title">Change Aggregator [{{ agg_name }}]</h3>
		  </div>
		  <div class="panel-body">
		<!--Aggregator selection tabs-->
		<div class="tabbable">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#simple_sum" data-toggle="tab">Simple Sum</a></li>
		  <li><a href="#best_of" data-toggle="tab">Best Of</a></li>
		  <li><a href="#weighted_sum" data-toggle="tab">Weighted Sum</a></li>
		</ul>
		<div class="tab-content">
		  <div id="simple_sum" class="tab-pane active">
		    <h4>No information required. Click Submit button to select.</h4>
		    <!-- simplesum form -->
			<form action="aggregateMarkForAssessment" method="post" role="form"> {% csrf_token %}
				<input type="hidden" value="SimpleSum" name="agg_name">
				<input type="hidden" value="0" name="numC">
				<input type="hidden" value={{assess_id}} name="assess_id">
				<input type="hidden" value={{module}} name="module">
				<input type="hidden" value="0" name="child_weight" >
				<input type="hidden" value="0" name="child_id"  >
				<div class="clearfix">
					<button type="submit" name="submit" class="btn btn-success pull-right">Submit</button>
				</div>
			</form><!-- ./simplesum form -->
		  </div>
		  <div id="best_of" class="tab-pane">
		  <h4>Give number of assessments to be used as the best of.</h4>
		    <h5>Max Contributors: <span class="label label-default">{{ numChildren }}</span></h5>
			<!-- bestof form -->
			<form action="aggregateMarkForAssessment" method="post" class="form-inline" role="form" data-parsley-validate> {% csrf_token %}
			  <div class="form-group">
				<label class="col-sm-6 control-label" for="bestOfSelectedNumber"># of Contributors</label>
				<div class="col-sm-4">
					<input type="number" class="form-control" id="numC"
					       name="numC" placeholder="Number of contributors"
					       required data-parsley-min="1" data-parsley-max={{ numChildren }}>
				</div>
				<input type="hidden" value="BestOf" name="agg_name">
				<input type="hidden" value={{assess_id}} name="assess_id">
				<input type="hidden" value={{module}} name="module">
				<input type="hidden" value="0" name="child_weight" >
				<input type="hidden" value="0" name="child_id"  >
			  </div>
			  <div class="clearfix">
				<button class="btn btn-success pull-right" type="submit">Submit</button>
			  </div>
			</form><!-- ./bestof form -->
		  </div>
		  <div id="weighted_sum" class="tab-pane">
		    <h4>Assign weights to each assessment</h4>
		    <div class="col-md-4"></div>
		    <div class="alert alert-warning col-md-4" role="alert">
			Weights are in percentages. Example: 60
		    </div>
		    <div class="col-md-4"></div>
		    
		    <div class="clearfix"></div>
		    
			<!-- weightedsum form -->
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<form class="form-horizontal" action="aggregateMarkForAssessment" method="post" role="form"
			      id="weights_form" data-parsley-validate onsubmit="return checkSumOfForm(this);"> {% csrf_token %}
				<input type="hidden" value="WeightedSum" name="agg_name">
				<input type="hidden" value="0" name="numC">
				<input type="hidden" value={{module}} name="module">
				<input type="hidden" value={{assess_id}} name="assess_id">
			{% for child in children %}
			  <div class="form-group weights_div">
				<label class="col-md-4 control-label" for="weightedSumAssessment">{{ child.1 }}[{{child.3}}]</label>
				<div class="col-md-4">
					<input id="child_weights_id" class="form-control" type="number" name="child_weight"
					       placeholder="Weight of {{ child.1 }}"
					       required data-parsley-min="0" data-parsley-max="100">
					<input type="text" name="child_id" hidden="hidden" value={{child.0}}>
				</div>
			  </div>
			{% endfor %}
			</div>
			<div class="clearfix">
				<button id="submit_weights" class="btn btn-success pull-right" type="submit">Submit</button>
			</div>
			
			<!--Writing parsley validator to check if sum of distributed weights sums to 100-->
			<script type="text/javascript">
				
				function checkSumOfForm(this_attr) {
					//alert($(this_attr).parent().parent().children('div.weights_div').get(0).$('child_weight').val());
					
					var str = '';
					var add_str = '';
					var tot = 0;
					var elem = document.getElementById('weights_form').elements;
					for(var i = 0; i < elem.length; i++)
					{
					    var name = elem[i].name;
					    
					    if (name == "child_weight") {
						tot += parseInt(elem[i].value);
					    }
					}
					
					//Check if sum is less or equal to 100
					if (parseInt(tot,10) === parseInt(100,10)) {
						//Right sum, continue posting
						return true;
					}
					else {
						$('#bs-sum_error-modal-sm').modal('show');
						return false;
					}
				}

			</script>
			<!--Modal for error control-->
			<div id="bs-sum_error-modal-sm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
			  <div class="modal-content">
				 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Error in weights</h4>
				      </div>
				 <div class="modal-body">
					Sum of inputs must equal 100.
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		      </div>
			
			</form><!-- ./weightedsum form -->
			
		  </div>
		</div><!-- /.tab-content -->
	      </div><!-- /.tabbable -->
		  </div><!-- ./panel-body-->
		</div><!-- ./panel-->
    </div>
    <div id="pane2" class="tab-pane">
    <h4> <span class="label label-info">{{ assessmentName }}</span></h4><br>
    
     <!--Add statistics-->
     <div class="panel panel-primary">
	<div class="panel-heading">Statistics</div>
	<div class="panel-body">
	  <!-- Table1 -->
	<table class="table table-hover table-bordered">
		<!--Class average-->
		<tr>
			<td><strong>Statistic</strong></td>
			<td><strong>Value</strong></td>
		</tr>
		<tr>
			<td>Class Average : </td>
			<td> <span class="label label-default">{{ average }}</span></td>
		</tr>
		<!--Class median-->
		<tr>
			<td>Class Median : </td>
			<td> <span class="label label-default">{{ median }}</span></td>
		</tr>
		<!--Class mode-->
		<tr>
			<td>Class Mode : </td>
			<td> <span class="label label-default">{{ mode }}</span></td>
		</tr>
		<!--Class median-->
		<tr>
			<td>Class Std. deviation : </td>
			<td> <span class="label label-default">{{ stddev }}</span></td>
		</tr>
	</table>
	<!-- ./Table1 -->
	</div>
     </div>
     
     <div class="panel panel-primary">
	<div class="panel-heading">Frequency</div>
	<div class="panel-body">
	  <table class="table table-hover table-bordered">
		<tr>
			<td><strong>Range of marks</strong></td>
			<td><strong>Number of Students</strong></td>
		</tr>
		<tr>
			<td>0 - 39 </td>
			<td>{{ frequency.0 }}</td>
		</tr>
		<tr>
			<td>40 - 49 </td>
			<td>{{ frequency.1 }}</td>
		</tr>
		<tr>
			<td>50 - 59 </td>
			<td>{{ frequency.2 }}</td>
		</tr>
		<tr>
			<td>60 - 74 </td>
			<td>{{ frequency.3 }}</td>
		</tr>
		<tr>
			<td>75 - 100 </td>
			<td>{{ frequency.4 }}</td>
		</tr>
	   </table>
	</div>
      </div>
     
     
    </div>
    <div id="pane3" class="tab-pane">
      <h4> <span class="label label-info">{{ assessmentName }}</span></h4><br>
      
      <!--Add Graphs-->
      
	<div class="panel panel-primary">
		<div class="panel-heading">Statistic Charts</div>
		<div class="panel-body">
		<!--Top Left chart-->
		<div class="col-sm-6 col-xs-12">
		  <div class="panel panel-info">
		      <div class="panel-heading">Frequency of Student Marks</div>
		      <div class="panel-body">
		      <canvas id="frequency_bar_chart">
			  <!--Bar graph placed here-->
		      </canvas>
		      </div>
		    </div>
		</div><!--./Top Left chart-->
	  
		<!--Top Right chart-->
		<div class="col-sm-6 col-xs-12">
		  <div class="panel panel-info">
			<div class="panel-heading">Passed/Failed Students</div>
			<div class="panel-body">
			<canvas id="frequency_doughnut_chart">
			      <!--Pie graph placed here-->
			</canvas>
			</div>
		      </div>
		</div><!--./Top Right chart-->
	</div> <!-- end panel body -->
      </div> <!-- end panel -->
	
      
      <script>

	var barChartData = {
		labels: ["0 - 39", "40 - 49", "50 - 59", "60 - 74", "75 - 100"],
		datasets: [
		    {
			label: "Frequency of students",
			fillColor: "rgba(220,220,220,0.5)",
			strokeColor: "rgba(220,220,220,0.8)",
			highlightFill: "rgba(220,220,220,0.75)",
			highlightStroke: "rgba(220,220,220,1)",
			data: [{{ frequency.0 }}, {{ frequency.1 }},{{ frequency.2 }},
			       {{ frequency.3 }}, {{ frequency.4 }}]
		    }
		]
	}
	var doughnutData = [
			{
				value: {{ pass_fail_percentage.1 }},
				color:"#F7464A",
				highlight: "#FF5A5E",
				label: "Failed"
			},
			{
				value: {{ pass_fail_percentage.0 }},
				color: "#46BFBD",
				highlight: "#5AD3D1",
				label: "Passed"
			}

		];
	
	window.onload = function(){
		var ctx = document.getElementById("frequency_bar_chart").getContext("2d");
		window.myBar = new Chart(ctx).Bar(barChartData, {responsive : false});
		
		var ctx = document.getElementById("frequency_doughnut_chart").getContext("2d");
		window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : false});
	}

	
      </script>
      
    </div> <!-- end tab-pane -->
    <div id="pane4" class="tab-pane">
      <h4> <span class="label label-info">{{ assessmentName }}</span></h4><br>
      
      <!--More settings-->
      <div class="btn-group">
	<!--Change Assessment Name Button-->
	<button type="button" class="btn btn-primary btn-md " data-target="#update_ass_name" data-toggle="modal"
		  >Change Assessment Name  <span class="fa fa-floppy-o"></span></button>
	<!--Export Statistics as PDF-->
	<form action="assessmentReport" hidden="hidden" method="post" class="export_stats_pdf">
		{% csrf_token %}
		<input name="assess_id" value={{ assess_id }}>
	</form>
	<button type="button" class="btn btn-primary btn-md" onclick='$(this).parent().children("form.export_stats_pdf").submit();'
		  >Export Stats as PDF  <span class="fa fa-file-pdf-o"></span></button>
      </div>
      
    </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

<div class="modal fade" id="import_marks" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form enctype="multipart/form-data" class="form-horizontal" action="importCSV" method="post" role="form" onsubmit="return Validate(this);" data-parsley-validate>
				{% csrf_token %}
				<div class="modal-header">
					<h4><strong>Import CSV With Marks</strong></h4>
				</div>
				<div class="modal-body">
					<h3><span class="label label-default">Select Assessment</span></h3>
					<div class="form-group">
						<select class="form-control" name="ass_import_marks" id="multiselectSelectAssessmentForMarksImport">
							{% for child in children %}
								<option value={{ child.0 }}>{{ child.1 }}</option>
							{%endfor%}
						</select>
					</div>
					<div class="form-group">
						<input id="CSVuploadFile" placeholder="Choose File" disabled="disabled">
						<div class="fileUpload btn btn-primary">
						    <input name="filename" id="CSVuploadBtn" type="file" class="upload">
						</div>
						<h5 class="help-block">Select CSV file with marks.</h5>
						<script>
							document.getElementById("CSVuploadBtn").onchange = function () {
								document.getElementById("CSVuploadFile").value = this.value;
							    };
							    
							var _validFileExtensions = [".csv"];
							
							function Validate(oForm) {
							    var arrInputs = oForm.getElementsByTagName("input");
							    for (var i = 0; i < arrInputs.length; i++) {
								var oInput = arrInputs[i];
								if (oInput.type == "file") {
								    var sFileName = oInput.value;
								    if (sFileName.length > 0) {
									var blnValid = false;
									for (var j = 0; j < _validFileExtensions.length; j++) {
									    var sCurExtension = _validFileExtensions[j];
									    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
										blnValid = true;
										break;
									    }
									}
							
									if (!blnValid) {
									    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
									    return false;
									}
								    }
								}
							    }
							
							    return true;
							}
						</script>
					</div>
					
					<div class="form-group">
						
						<div class="col-lg-8">
							<input type="hidden" class="form-control" name="module" value={{ module }}>
							<input type="hidden" class="form-control" name="assess_id" value={{ assess_id }}>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button class="btn btn-success" type="submit">Upload</button>
				</div>
			</form>
		</div>
	</div>
</div><!-- ./import_marks -->

<!--Change Assessment Name Modal-->
<div class="modal fade" id="update_ass_name" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="update-name" method="post" role="form" data-parsley-validate>
				{% csrf_token %}
				<div class="modal-header">
					<h4><strong>Update Assessment Name for</strong></h4>
					<h4><strong>{{ assessmentName }}</strong></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<h4>
						<label for="previous-name" class="col-lg-5 control-label">Previous Name:</label>
						</h4>
						<div class="col-lg-5">
							<input type="text" disabled="disabled" class="form-control" value="{{ assessmentName }}">
						</div>
					</div>
					<div class="form-group">
						<h4>
						<label for="new-name" class="col-lg-5 control-label">New Name:</label>
						</h4>
						<div class="col-lg-5">
							<input hidden="hidden" name="assess_id" value={{ assess_id }}>
							<input type="text" class="form-control" id="new-assess-name" name="assess_name" placeholder="New Assessment Name"
							required data-parsley-length="[2, 30]" data-parsley-pattern="/^[a-zA-Z0-9-_ ]+$/">
							<input type="hidden" name="module" value={{ module }}>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button class="btn btn-success" type="submit">Update</button>
				</div>
			</form>
		</div>
	</div>
</div><!--End of Modal for ContactUs-->
{% endblock %}
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}