{% extends "web_interface/base_template.htm" %}

{% block title %} Assessments {% endblock %}

<!--###########################  Nav bar settings ############################-->

{% block logout_button %}
	<li><a href="/">Logout</a></li>
{% endblock %}
	
{% block person_details %}
	<li><a href="person_details" > <span class="glyphicon glyphicon-user"></span> </a></li>
{% endblock %}

<!--###########################  End Nav bar settings ############################-->

<!--###########################  Courses dropdown ############################-->
<!-- Courses button -->
{% block courses_dropdown %}
{% for role in user_lect.0.LC %}
	<li><a id={{ role }} href="/view_assessment/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_stud.0.ST %}
	<li><a id={{ role }} href="/view_assessment/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_tut.0.TT %}
	<li><a id={{ role }} href="/view_assessment/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_ta.0.TA %}
	<li><a id={{ role }} href="/view_assessment/{{ role }}"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Courses button -->

<!-- Use as button -->
{% block courses_use_as %}
{% for role in user_roles %}
	<li><a id={{ role }}  href="/use_as/{{ role }}"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->


<!--###########################  jumbotron part ############################-->
{% block breadcrumbs %}{% endblock %}


{% block jumbotron_header %} Assessments {% endblock %}

{% block jumbotron_sub_header %} {{ module }} {% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">		
		<!-- Python is used here to list all the assessments -->
		{% for ass in assessmentName %}
		<form action="/view_session" method="post">
			<button type="submit" class="btn btn-default btn-lg btn-block" name='assessment' value={{ass.0}}>{{ ass.1 }}</button>
		</form>
		{% endfor %}
		<!-- End python jQuery code -->
	</div>
	<div class="col-md-3"></div>
</div>
{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}