{% extends "web_interface/base_template.htm" %}

{% block title %} Assessment Center {% endblock %}

<!--###########################  Nav bar settings ############################-->
{% block header%}
	<li class="active"><a href="/hamster_home">Home</a></li>
	<li><a href="/logout">Logout</a></li>
	<li><a href="#" onclick="document.getElementById('details').submit(); return false" > <span class="glyphicon glyphicon-user"></span> </a></li>
	<form action="/User" id="details" method="post" hidden='hidden'>{% csrf_token %}
	</form>
	<li>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Courses <b class="caret"></b></a>
		<ul class="dropdown-menu">
		{% for role in user_lect.0.LC %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="lectB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_stud.0.ST %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="studB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_tut.0.TT %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="tutB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_ta.0.TA %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="taB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		</ul>
	</li>
	<li>
					
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Use as <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{% for role in user_roles %}
			<li>
				<form action="/user-mode" method="post" hidden="hidden" class="use-as">
					{% csrf_token %}
					<input type="text" name="role" value={{ role }}>
				</form>
				<a onclick="$(this).parent().children('form.use-as').submit();"> {{ role }}</a>
			</li>
			{% endfor %}
		</ul>
	</li>
		
{%endblock%}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->


<!--###########################  jumbotron part ############################-->
{% block breadcrumbs_2 %}
<ol class="breadcrumb">
	<li><a href="#">Login</a></li>
	<li ><a href="#">Home</a></li>
	<li class="active"><a  href="/use_as/{{ role }}">Assessments</a></li>
</ol>
{% endblock %}


{% block jumbotron_header %}
	
	{% ifequal assessment '' %}
		
	{% else %}
		<div class="text-center"><div class="label label-default">Assessment Center</div></div>
	{% endifequal %}
{% endblock %}

{% block jumbotron_sub_header %}
{% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}
<!-- End of jumbotron content -->

<!-- Audit table -->
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#pane1" data-toggle="tab">Aggregation</a></li>
    <li><a href="#pane2" data-toggle="tab">Statistics</a></li>
    <li><a href="#pane3" data-toggle="tab">Graph stats</a></li>
    <li><a href="#pane4" data-toggle="tab">Settings</a></li>
  </ul>
  <div class="tab-content">
    <div id="pane1" class="tab-pane active">
      <h4> <span class="label label-info">Assessment Aggregation</span></h4>
		
		<ul>
		  <li class="nav-divider"></li>
		</ul>
		
		<!-- Table1 -->
		<table class="table table-hover table-bordered">
			<tr>
				<td><strong> Currently used aggregator : </strong></td>
				<td> <span class="label label-default"> Simple Sum </span></td>
			</tr>
		</table>
		<!-- ./Table1 -->
		
		<ul>
		  <li class="nav-divider"></li>
		</ul>
		
		<!--Aggregation panel-->
		<div class="panel panel-primary">
		  <div class="panel-heading">
			<h3 class="panel-title">Change Aggregator</h3>
		  </div>
		  <div class="panel-body">
		<!--Aggregator selection tabs-->
		<div class="tabbable">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#simple_sum" data-toggle="tab">Simple Sum</a></li>
		  <li><a href="#best_of" data-toggle="tab">Best Of</a></li>
		  <li><a href="#weighted_sum" data-toggle="tab">Weighted Sum</a></li>
		</ul>
		<div class="tab-content">
		  <div id="simple_sum" class="tab-pane active">
		    <h4>No information required. Click Complete button to select.</h4>
		    <!-- simplesum form -->
			<form action="aggregateMarkForAssessment" method="post" role="form"> {% csrf_token %}
				<input type="hidden" value="SimpleSum" name="agg_name">
				<input type="hidden" value="0" name="numC">
				<input type="hidden" value={{assess_id}} name="assess_id">
				<input type="hidden" value={{module}} name="module">
				<input type="hidden" value="0" name="child_weight" >
				<input type="hidden" value="0" name="child_id"  >
				<div class="clearfix">
					<button type="submit" name="submit" class="btn btn-success pull-right">Submit</button>
				</div>
			</form><!-- ./simplesum form -->
		  </div>
		  <div id="best_of" class="tab-pane">
		  <h4>Give number of assessments to be used as the best of.</h4>
		    <h5>Max contributors: <span class="label label-default">{{ numChildren }}</span></h5>
			<!-- bestof form -->
			<form action="aggregateMarkForAssessment" method="post" class="form-inline" role="form" data-parsley-validate> {% csrf_token %}
			  <div class="form-group">
				<label class="col-sm-6 control-label" for="bestOfSelectedNumber"># of contributors</label>
				<div class="col-sm-4">
					<input type="number" class="form-control" id="numC"
					       name="numC" placeholder="Number of contributors" required
					       required data-parsley-min="1" data-parsley-max={{ numChildren }}>
				</div>
				<input type="hidden" value="BestOf" name="agg_name">
				<input type="hidden" value={{assess_id}} name="assess_id">
				<input type="hidden" value={{module}} name="module">
				<input type="hidden" value="0" name="child_weight" >
				<input type="hidden" value="0" name="child_id"  >
			  </div>
			  <div class="clearfix">
				<button class="btn btn-success pull-right" type="submit">Submit</button>
			  </div>
			</form><!-- ./bestof form -->
		  </div>
		  <div id="weighted_sum" class="tab-pane">
		    <h4>Assign weights to each assessment</h4>
		    <h4><div class="label label-default">Please assign weights to each assessment</div></h4>
			<!-- weightedsum form -->
			<form class="form-horizontal" action="aggregateMarkForAssessment" method="post" role="form" data-parsley-validate> {% csrf_token %}
				<input type="hidden" value="WeightedSum" name="agg_name">
				<input type="hidden" value="0" name="numC">
				<input type="hidden" value={{module}} name="module">
				<input type="hidden" value={{assess_id}} name="assess_id">
			{% for child in children %}
			  <div class="form-group">
				<label class="col-sm-3 control-label" for="weightedSumAssessment">{{ child.1 }}</label>
				<div class="col-sm-5">
					<input class="form-control" type="text" name="child_weight" placeholder="Weight of {{ child.1 }}" required>
					<input type="text" name="child_id" hidden="hidden" value={{child.0}}>
				</div>
			  </div>
			{% endfor %}
			<div class="clearfix">
				<button class="btn btn-success pull-right" type="submit">Submit</button>
			</div>
			</form><!-- ./weightedsum form -->
		  </div>
		</div><!-- /.tab-content -->
	      </div><!-- /.tabbable -->
		  </div><!-- ./panel-body-->
		</div><!-- ./panel-->
    </div>
    <div id="pane2" class="tab-pane">
    <h4> <span class="label label-info">Statistics</span></h4>
    
     <!--Add statistics-->
     <!-- Table1 -->
	<table class="table table-hover table-bordered">
		<!--Class average-->
		<tr>
			<td>Class Average : </td>
			<td> <span class="label label-default">{{ average }}</span></td>
		</tr>
		<!--Class median-->
		<tr>
			<td>Class Median : </td>
			<td> <span class="label label-default">{{ median }}</span></td>
		</tr>
		<!--Class mode-->
		<tr>
			<td>Class Mode : </td>
			<td> <span class="label label-default">{{ mode }}</span></td>
		</tr>
		<!--Class median-->
		<tr>
			<td>Class Std. deviation : </td>
			<td> <span class="label label-default">{{ stddev }}</span></td>
		</tr>
		<!--Students in class-->
		<tr>
			<td>Show list of students in assessment here, clickable button</td>
		</tr>
	</table>
     <!-- ./Table1 -->
     <h4>Frequency</h4>
     <table class="table table-hover table-bordered">
	<tr>
		<td>0 - 40 : </td>
		<td>{{ frequency.0 }}</td>
	</tr>
	<tr>
		<td>40 - 50 : </td>
		<td>{{ frequency.1 }}</td>
	</tr>
	<tr>
		<td>50 - 60 : </td>
		<td>{{ frequency.2 }}</td>
	</tr>
	<tr>
		<td>60 - 74 : </td>
		<td>{{ frequency.3 }}</td>
	</tr>
	<tr>
		<td>75 - 100 : </td>
		<td>{{ frequency.4 }}</td>
	</tr>
     </table>
     
    </div>
    <div id="pane3" class="tab-pane">
      <h4> <span class="label label-info">Graph statistics</span></h4>
      
      <!--Add Graphs-->
      
    </div>
    <div id="pane4" class="tab-pane">
      <h4> <span class="label label-info">More Settings</span></h4>
      
      <!--More settings-->
      <button type="button" class="btn btn-primary btn-md " data-target="#update_leaf_mark" data-toggle="modal"
		>Change Full Mark  <span class="glyphicon glyphicon-cog"></span></button>
      
    </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

<div class="modal fade" id="update_leaf_mark" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="update-fullmark" method="post" data-parsley-validate>
				{% csrf_token %}
				<div class="modal-header">
					<h4><strong>Update Total Mark for</strong></h4>
					<h4><strong>{{ assessmentName }}</strong></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<h4>
						<label for="contact-name" class="col-lg-5 control-label">Previous Total Mark:</label>
						</h4>
						<div class="col-lg-5">
							<input type="number" disabled="disabled" class="form-control" placeholder={{ fullmark }} value={{ fullmark }}>
						</div>
					</div>
					<div class="form-group">
						<h4>
						<label for="contact-email" class="col-lg-5 control-label">New Total Mark:</label>
						</h4>
						<div class="col-lg-5">
							<input hidden="hidden" name="assess_id" value={{ assess_id }}>
							<input type="number" class="form-control" id="new-full-mark" name="fullmark" placeholder="100"
							data-parsley-min="0" data-parsley-max="100">
						</div>
					</div>
					
					<div class="form-group">
						
						<div class="col-lg-8">
							<input type="hidden" class="form-control" id="assessment-name" name="module" value={{ module }} placeholder={{ module }}>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button id="submit" class="btn btn-success" type="submit">Update</button>
				</div>
			</form>
		</div>
	</div>
</div><!-- ./change_full_mark -->
{% endblock %}
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}