<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<!--<link rel="stylesheet" type="text/css" href="static/web_interface/css/style.css">-->
</head>
<body>

	<!--Navigation bar-->
	<div class = "navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			
			<a href="#" class = "navbar-brand">Hamster Marking System</a>

			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="collapse navbar-collapse navHeaderCollapse">
				
			<ul class="nav navbar-nav navbar-right">
				
				<li class="active"><a href="#">Home</a></li>
				{% block logout_button %}{% endblock %}
				{% block person_details %}{% endblock %}
				
				<!--Courses dropdown-->
				<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Courses <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% block courses_dropdown %}{% endblock %}
				</ul>
				</li>
				<!-- End of Courses dropdown-->

				<!--Use as dropdown-->
				<li>
					
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Use as <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% block courses_use_as %}{% endblock %}
				</ul>

				</li>
				<!-- End of Use as dropdown-->
				
				<li><a href="#query" data-toggle="modal">Query</a></li>
				<li><a href="#contact" data-toggle="modal">Contact Us</a></li>

			</ul>

			</div>
		</div>

	</div><!--End of Navigation bar-->

	<!--Jumbotron-->
	<div class="container">
		<div class="jumbotron text-center">
			<h2>{% block jumbotron_header %}{% endblock %}</h2>
			<p>{% block jumbotron_sub_header %}{% endblock %}</p>
			
			{% block jumbotron_content %}{% endblock %}
		</div>
	</div><!--End of jumbotron-->

	<!-- Under jumbotron -->
	<div class="container">
		<div class="row">
			<div class="col-md-6" >
				{% block left_under_jumbotron-col-6 %}{% endblock %}
			</div>
	
			<div class="col-md-6" >
				{% block right_under_jumbotron-col-6 %}{% endblock %}
			</div>
		</div>
	</div><!-- End of Under jumbotron -->

	<!--Footer bar-->
	<div class="navbar navbar-inverse navbar-fixed-bottom">
		
		<div class="container">
			
			<p class="navbar-text pull-left">University of Pretoria site</p>
			<a class="navbar-btn btn-primary btn pull-right" href="http://www.cs.up.ac.za">Go to CS website</a>

		</div>
	</div><!--End of footer-->

	<!--Modal for ContactUs-->
	<div class="modal fade" id="contact" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal">
					<div class="modal-header">
						<h4>Contact Tech Team</h4>
					</div>
					<div class="modal-body">
						
						<div class="form-group">
							
							<label for="contact-name" class="col-lg-2 control-label">Name:</label>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="contact-name" placeholder="Full name">

							</div>

						</div>

						<div class="form-group">
							
							<label for="contact-email" class="col-lg-2 control-label">Email:</label>
							<div class="col-lg-8">
								<input type="email" class="form-control" id="contact-email" placeholder="you@example.com">

							</div>

						</div>

						<div class="form-group">
							
							<label for="contact-msg" class="col-lg-2 control-label">Message:</label>
							<div class="col-lg-8">
							<textarea class="form-control" rows="6"></textarea>


							</div>

						</div>


					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Close</a>
						<button class="btn btn-primary" type="submit">Send message</button>
					</div>
				</form>
			</div>
		</div>
	</div><!--End of Modal for ContactUs-->

	<!--Modal for Query-->
	<div class="modal fade" id="query" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal">
					<div class="modal-header">
						<h4>Query system</h4>
					</div>
					<div class="modal-body">
						
						<div class="form-group">
							
							<label for="student-number" class="col-lg-2 control-label">Name:</label>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="student-number" placeholder="Username">

							</div>

						</div>

						<div class="form-group">
							
							<label for="contact-email" class="col-lg-2 control-label">Email:</label>
							<div class="col-lg-8">
								<input type="email" class="form-control" id="contact-email" placeholder="you@example.com">

							</div>

						</div>

						<div class="form-group">

							<label for="student-module" class="col-lg-2 control-label">Module:</label>
							<div class="col-lg-8">
								<div class="btn-group">
								  <button type="button" class="btn btn-default">Modules</button>
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								    <span class="caret"></span>
								    <span class="sr-only">Toggle Dropdown</span>
								  </button>
								  <ul class="dropdown-menu">
								    <li><a href="#"> COS 301</a></li>
									<li><a href="#"> COS 332</a></li>
									<li><a href="#"> COS 314</a></li>
									<li><a href="#"> COS 341</a></li>
								    <li><a href="#"> COS 344</a></li>
								    <!--In cases like this, sever side will feed through modules student is registered in-->
								  </ul>
								</div>
							</div>
						</div>


						<div class="form-group">
							
							<label for="student-query" class="col-lg-2 control-label">Query:</label>
							<div class="col-lg-8">
							<textarea class="form-control" rows="6" placeholder="Give a detailed description of assemsment, the question being addressed if applicable and your problem."></textarea>
							</div>
						</div>


					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Close</a>
						<button class="btn btn-primary" type="submit">Send query</button>
					</div>
				</form>
			</div>
		</div>
	</div><!--End of Modal for Query-->
	
<!-- ################### Modal for create assessment ################# -->

<!--Modal for Creating assessment-->
<div class="modal fade" id="create_ass" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="/create_assessment" method="post">
				<div class="modal-header">
					<h4>Create an Assessment</h4>
				</div>
				<div class="modal-body">
					
					<div class="form-group">
						
						<label for="contact-name" class="col-lg-2 control-label">Assessment Name:</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" id="assessment-name" name="name" placeholder="Class Test 1">

						</div>

					</div>

					<div class="form-group">
						
						<label for="contact-email" class="col-lg-2 control-label">Full Mark:</label>
						<div class="col-lg-8">
							<input type="number" class="form-control" id="full-mark" name="fullmark" placeholder="100">

						</div>

					</div>
					
					<div class="form-group">
						
						<div class="col-lg-8">
							<input type="hidden" class="form-control" id="assessment-name" name="mod" value={{ module }} placeholder={{ module }}>

						</div>

					</div>

				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button class="btn btn-success" type="submit" name="leaf" value='leaf'>Create</button>
				</div>
			</form>
		</div>
	</div>
</div><!--End of Modal for ContactUs-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<script>
	$(document).ready(function(){
		$('#Lecturer').click(function(){
			$('#ST').hide();
			$('#TT').hide();
			$('#TA').hide();
			$('#LC').show();
		})
		
		$('#Student').click(function(){
			$('#ST').show();
			$('#TT').hide();
			$('#TA').hide();
			$('#LC').hide();
		})
		
		$('#Tutor').click(function(){
			$('#ST').hide();
			$('#TT').show();
			$('#TA').hide();
			$('#LC').hide();
		})
		
		$('#Teaching ass').click(function(){
			$('#ST').hide();
			$('#TT').hide();
			$('#TA').show();
			$('#LC').hide();
		})
		
		var $modalData = $('#createLeaf');
		
		$('body').on('click.modal.data-api', '[data-toggle="modal"]', function(e){
			var $this = $(this);
			$modalData.data('value', $this.data('value'));
			$modalData.modal('show');
			e.preventDefault();
			})
		
		$modalData.on('show', function(){
			var myData = $modalData.data('value');
		});
		
		
		$('#leafAss').click(function(){
			var me =$('#leafAss').val()
			$('#leaf').val(me)
		})
		
		$('#datetimepicker').datetimepicker();

	})
</script>

</body>
</html>