{% extends "web_interface/base_template.htm" %}

{% block title %} Assessments {% endblock %}

<!--###########################  Nav bar settings ############################-->

{% block logout_button %}
	<li><a href="/">Logout</a></li>
{% endblock %}
	
{% block person_details %}
	<li><a href="person_details" > <span class="glyphicon glyphicon-user"></span> </a></li>
{% endblock %}

<!--###########################  End Nav bar settings ############################-->

<!--###########################  Courses dropdown ############################-->
<!-- Courses button -->
{% block courses_dropdown %}
{% for role in user_lect.0.LC %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_stud.0.ST %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_tut.0.TT %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_ta.0.TA %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Courses button -->

<!-- Use as button -->
{% block courses_use_as %}
{% for role in user_roles %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->


<!--###########################  jumbotron part ############################-->
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="#">Login</a></li>
	<li ><a href="#">Home</a></li>
	<li class="active"><a href="#">Assessments</a></li>
</ol>
{% endblock %}


{% block jumbotron_header %} Assessments {% endblock %}

{% block jumbotron_sub_header %} {{ module }} {% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<button class="btn btn-info btn-lg btn-block"  data-target="#create_ass" data-toggle="modal">Create Assessment</button><br>
		
		<!-- Python is used here to list all the assessments -->
		{% if type == -1 %}
			<div class="alert alert-warning" role="alert"><strong>Note!</strong> There are no assessments available.</div>
		{% else %}
		{% for ass in assessmentName %}
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-lg btn-block dropdown-toggle" data-toggle="dropdown" value={{ass.0}}> {{ ass.1 }}
				<b class="caret"></b></button><br/>
				<ul class="dropdown-menu" role="menu">
					<li>
						<form action="/view_children_assessment" method="post">
							<input type="hidden" name="mod" value={{ module }}>
							<button type="submit" class="btn btn-default btn-md btn-block" name="assessment" value={{ass.0}}>View Assessments</button>
						</form>
					</li><li>
						<form action="/view_session" method="post">
							<button type="submit" class="btn btn-primary btn-md btn-block" name="assessment" value={{ass.0}}>View Sessions</button>
						</form>
					</li><li>
						<form action="/remove_assessment" method="post">
							<input type="hidden" name="mod" value={{ module }}>
							<button type="submit" class="btn btn-danger btn-md btn-block" name="assess_id" value={{ass.0}}>Delete Assessment</button>
						</form>
					</li>
				</ul>
			</div><br/>
			
			
			
	<div class="modal fade" id="create_leaf" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="/create_assessment" method="post">
				<div class="modal-header">
					<h4>Create an Assessment</h4>
				</div>
				<div class="modal-body">
					
					<div class="form-group">
						
						<label for="contact-name" class="col-lg-2 control-label">Assessment Name:</label>
						<div class="col-lg-8">
							<input type="text" class="form-control" id="assessment-name" name="name" placeholder="Class Test 1">

						</div>

					</div>

					<div class="form-group">
						
						<label for="contact-email" class="col-lg-2 control-label">Full Mark:</label>
						<div class="col-lg-8">
							<input type="number" class="form-control" id="full-mark" name="fullmark" placeholder="100">

						</div>

					</div>
					
					<div class="form-group">
						
						<div class="col-lg-8">
							<input type="hidden" class="form-control" id="assessment-name" name="mod" value={{ module }} placeholder={{ module }}>

						</div>

					</div>

				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button id="submit" class="btn btn-success" type="submit" name="leaf" value={{ass.0}}>{{ass.0}}</button>
				</div>
			</form>
		</div>
	</div>
</div><!--End of Modal for ContactUs-->
	
			
		{% endfor %}
		<!-- End python jQuery code -->
		{% endif %}
	</div>
	<div class="col-md-3"></div>
</div>
{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}