{% extends "web_interface/base_template.htm" %}

{% block title %} Sessions {% endblock %}

<!--###########################  Nav bar settings ############################-->
{% block header%}
	<li class="active"><a href="/hamster_home">Home</a></li>
	<li><a href="/logout">Logout</a></li>
	<li><a href="#" onclick="document.getElementById('details').submit(); return false" > <span class="glyphicon glyphicon-user"></span> </a></li>
	<form action="/User" id="details" method="post" hidden='hidden'>{% csrf_token %}
	</form>
	<li>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Courses <b class="caret"></b></a>
		<ul class="dropdown-menu">
		{% for role in user_lect.0.LC %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="lectB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_stud.0.ST %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="studB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_tut.0.TT %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="tutB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_ta.0.TA %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="taB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		</ul>
	</li>
	<li>
					
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Use as <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{% for role in user_roles %}
			<li>
				<form action="/user-mode" method="post" hidden="hidden" class="use-as">
					{% csrf_token %}
					<input type="text" name="role" value={{ role }}>
				</form>
				<a onclick="$(this).parent().children('form.use-as').submit();"> {{ role }}</a>
			</li>
			{% endfor %}
		</ul>
	</li>
	<li><a href="#query" data-toggle="modal">Query</a></li>
	<li><a href="#contact" data-toggle="modal">Contact Us</a></li>	
{%endblock%}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->

<!--###########################  jumbotron part ############################-->
{% block breadcrumbs %}
	<ol class="breadcrumb">
	<li><a href="/logout">Login</a></li>
	<li >
	  <form action="/courses" method="post" hidden="hidden" class="go-home">
		{% csrf_token %}
	  </form>
	  <a onclick="$(this).parent().children('form.go-home').submit();">Home</a>
	</li>
	<li >
	  <form action="courses/{{ moduleName }}/assessments/view" method="post" hidden="hidden" class="see-assessments">
		{% csrf_token %}
	  </form>
	  <a onclick="$(this).parent().children('form.see-assessments').submit();">Assessments</a>
	</li>
	<li class="active"><a href="#">Sessions</a></li>
	</ol>
{% endblock %}


{% block jumbotron_header %} Sessions {% endblock %}

{% block jumbotron_sub_header %} {{ assessmentName }} {% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	
	{% if message == None %}
		<!-- Do nothing, not reloading -->
	{% else %}
		{% if message == 1 %}
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Success!</strong> Session deleted successfully.
		</div>
		{% endif %}
		{%if message == 0 %}
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Problem!</strong> Session was not deleted, something went wrong.
		</div>
		{% else %}
			<!--Do nothing-->
		{% endif %}
	{% endif %}
	<button class="btn btn-info btn-lg btn-block"  data-target="#create_sess" data-toggle="modal">Create Session</button><br>
	
	</div>
	<div class="col-md-2"></div>
	
	<!--Sovles the problem of the create session button being un-clickable-->
	<div class="clearfix"></div>
	
	{% for x in sessions %}
	<div class="dropdown">
		{% if x.0 == '-1' %}
			<div class="alert alert-warning" role="alert"><strong>Note!</strong> There are no sessions available.</div>
		{% else %}
			{% if x.2 == 0 %}
				<div class="container">
				<div class="row">
				  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				    <ul class="event-list">
					<li>
					<time datetime={{ x.3 }}>
					  <span class="day">{{ x.3|slice:"8:10" }}</span>
					  <span class="month">{{ x.3|slice:"5:7" }}</span>
					  <span class="year">{{ x.3|slice:":4" }}</span>
					  <span class="time">{{ x.3|slice:"11:19" }}</span>
					</time>
					<time datetime={{ x.4 }}>
					  <span class="day">{{ x.4|slice:"8:10" }}</span>
					  <span class="month">{{ x.4|slice:"5:7" }}</span>
					  <span class="year">{{ x.4|slice:":4" }}</span>
					  <span class="time">{{ x.4|slice:"11:19" }}</span>
				        </time>
					<div class="info">
					  <h2 class="title">{{x.1}}</h2>
					  <p class="desc"> Marking session for the above assessment</p>
					  <ul>
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-add-student-form').submit();"
						 data-toggle="tooltip" data-placement="top" title="Add student(s)"><span class="fa fa-plus"></span>&nbsp;student</li>
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-view-student-form').submit();"
						 data-toggle="tooltip" data-placement="top" title="View student(s)"><span class="fa fa-eye"></span>&nbsp;students</li>
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-delete-session-form').submit();"
						 data-toggle="tooltip" data-placement="top" title="Delete session"><span class="glyphicon glyphicon-trash"></span>&nbsp;session</li>
					    {% if x.2 == 1  %}
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-close-session-form').submit();"
						 data-toggle="tooltip" data-placement="top" title="Close session"><span class="fa fa-times"></span>&nbsp;session</li>
					    {% else %}
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-open-session-form').submit();"
						 data-toggle="tooltip" data-placement="top"  title="Open session"><span class="fa fa-circle-o"></span>&nbsp;session</li>
					    {% endif %}
					  </ul>
						<!--Add Student form-->
					    <form action="view-students" method="post" class="form-group-sm post-add-student-form" hidden="hidden">
						{% csrf_token %}
						<input name='session' value={{ x.0 }} >
						<input name="module" value={{ moduleName }}>
					    </form>
					    <!--View Students form-->
					    <form action="session-info" method="post" class="form-group-sm post-view-student-form" hidden="hidden">
						{% csrf_token %}
						<input name="session" value={{ x.0 }}>
						<input name="module" value={{ moduleName }}>
					    </form>
					    <!--Delete session form-->
					    <form action="remove-session" method="post" class="form-group-sm post-delete-session-form" hidden="hidden">
						{% csrf_token %}
						<input name="session" value={{ x.0 }}>
						<input name="module" value={{ moduleName }}>
						<input name="assessment" value={{ assessment_id }}>
					    </form>
					    <!--Close session form-->
					    <form action="change-status" method="post" class="form-group-sm post-close-session-form" hidden="hidden">
						{% csrf_token %}
						<input name="sess_id" value={{ x.0 }}>
						<input type="hidden" name="mod" value={{ moduleName }}>
						<input type="hidden" name="status" value=0>
						<input type="hidden" name="assess_id" value={{ assessment_id }}>
					    </form>
					    <!--Open session form-->
					    <form action="change-status" method="post" class="form-group-sm post-open-session-form" hidden="hidden">
						{% csrf_token %}
						<input name="sess_id" value={{ x.0 }}>
						<input type="hidden" name="mod" value={{ moduleName }}>
						<input type="hidden" name="status" value=1>
						<input type="hidden" name="assess_id" value={{ assessment_id }}>
					    </form>
					</div>
				      </li>
				    </ul>
				  </div>
				</div>
			      </div>
			{% elif x.2 == 1 %}
				
				<div class="container">
				<div class="row">
				  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				    <ul class="event-list">
					<li>
					<time datetime={{ x.3 }}>
					  <span class="day">{{ x.3|slice:"8:10" }}</span>
					  <span class="month">{{ x.3|slice:"5:7" }}</span>
					  <span class="year">{{ x.3|slice:":4" }}</span>
					  <span class="time">{{ x.3|slice:"11:19" }}</span>
					</time>
					<time datetime={{ x.4 }}>
					  <span class="day">{{ x.4|slice:"8:10" }}</span>
					  <span class="month">{{ x.4|slice:"5:7" }}</span>
					  <span class="year">{{ x.4|slice:":4" }}</span>
					  <span class="time">{{ x.4|slice:"11:19" }}</span>
				        </time>
					<div class="info">
					  <h2 class="title">{{x.1}}</h2>
					  <p class="desc"> Marking session for the above assessment</p>
					  <ul>
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-add-student-form').submit();"
						 data-toggle="tooltip" data-placement="top" title="Add student(s)"><span class="fa fa-plus"></span>&nbsp;student</li>
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-view-student-form').submit();"
						 data-toggle="tooltip" data-placement="top" title="View student(s)"><span class="fa fa-eye"></span>&nbsp;students</li>
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-delete-session-form').submit();"
						 data-toggle="tooltip" data-placement="top" title="Delete session"><span class="glyphicon glyphicon-trash"></span>&nbsp;session</li>
					    {% if x.2 == 1  %}
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-close-session-form').submit();"
						 data-toggle="tooltip" data-placement="top" title="Close session"><span class="fa fa-times"></span>&nbsp;session</li>
					    {% else %}
					    <li style="width:25%;" onclick="$(this).parent().parent().children('form.post-open-session-form').submit();"
						 data-toggle="tooltip" data-placement="top"  title="Open session"><span class="fa fa-circle-o"></span>&nbsp;session</li>
					    {% endif %}
					  </ul>
						<!--Add Student form-->
					    <form action="view-students" method="post" class="form-group-sm post-add-student-form" hidden="hidden">
						{% csrf_token %}
						<input name='session' value={{ x.0 }} >
						<input name="module" value={{ moduleName }}>
					    </form>
					    <!--View Students form-->
					    <form action="session-info" method="post" class="form-group-sm post-view-student-form" hidden="hidden">
						{% csrf_token %}
						<input name="session" value={{ x.0 }}>
						<input name="module" value={{ moduleName }}>
					    </form>
					    <!--Delete session form-->
					    <form action="remove-session" method="post" class="form-group-sm post-delete-session-form" hidden="hidden">
						{% csrf_token %}
						<input name="session" value={{ x.0 }}>
						<input name="module" value={{ moduleName }}>
						<input name="assessment" value={{ assessment_id }}>
					    </form>
					    <!--Close session form-->
					    <form action="change-status" method="post" class="form-group-sm post-close-session-form" hidden="hidden">
						{% csrf_token %}
						<input name="sess_id" value={{ x.0 }}>
						<input type="hidden" name="mod" value={{ moduleName }}>
						<input type="hidden" name="status" value=0>
						<input type="hidden" name="assess_id" value={{ assessment_id }}>
					    </form>
					    <!--Open session form-->
					    <form action="change-status" method="post" class="form-group-sm post-open-session-form" hidden="hidden">
						{% csrf_token %}
						<input name="sess_id" value={{ x.0 }}>
						<input type="hidden" name="mod" value={{ moduleName }}>
						<input type="hidden" name="status" value=1>
						<input type="hidden" name="assess_id" value={{ assessment_id }}>
					    </form>
					</div>
				      </li>
				    </ul>
				  </div>
				</div>
			      </div>
			{% else %}
			{% endif %}
		{% endif %}
	</div>
	{%endfor%}
</div><!-- ./row  -->



<!--Modal for Creating assessment-->
<div class="modal fade" id="create_sess" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="create-session" method="post">
				{% csrf_token %}
				<div class="modal-header">
					<h4>Create a Session for</h4>
					<h4>{{ assessmentName }}</h4>
				</div>
				<div class="modal-body">
					
					<div class="form-group">
						
						<label for="session-name" class="col-lg-3 control-label">Session Name:</label>
						<div class="col-lg-7">
							<input type="text" class="form-control" id="session-name" name="name" placeholder="Class Test 1 perusal">
						</div>

					</div>

					<div class="form-group">
						<label for="open-time" class="col-lg-3 control-label">Open time:</label>
						<div class="col-lg-7">
							<div class="input-group date" id="datetimepickerOpenTime">
							    <input onclick="callDateTimePopup(this);" type='text' class="form-control" id="open-time"
								       name="open_time">
							    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
							    </span>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="close-time" class="col-lg-3 control-label">Close time:</label>
						<div class="col-lg-7">
							<div class="input-group date" id="datetimepickerCloseTime">
								<input onclick="callDateTimePopup(this);" type="text" class="form-control" id="close-time"
								       name="close_time">
								<span class="input-group-addon"><span  class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
					</div>

					<script type="text/javascript">
						//Datetime popup
						function callDateTimePopup(this_attr) {
							$(this_attr).datetimepicker({
								format: 'YYYY-MM-DD HH:mm:ss',
								language: 'en',
								showToday: true
								});
						}
					</script>
					
					<div class="form-group">
						
						<div class="col-lg-8">
							<input type="hidden" class="form-control" id="assessment-name" name="assess_id" value={{ assessment_id }} placeholder={{ assessment_id }}>
							<input type="hidden" class="form-control" name="module" value={{moduleName}}>
						</div>

					</div>
					

				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button class="btn btn-success" type="submit" name="session" value='leaf'>Create</button>
				</div>
			</form>
		</div>
	</div>
</div><!--End of Modal for ContactUs-->


{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}
