{% extends "web_interface/base_template.htm" %}

{% block title %}Login{% endblock  %}


<!--###########################  Nav bar settings ############################-->

{% block jumbotron_header %} Hamster Marking System {% endblock %}

{% block jumbotron_sub_header %} Log in to access your information {% endblock %}
{% block header %}
	<li><a href="#query" data-toggle="modal">Query</a></li>
	<li><a href="#contact" data-toggle="modal">Contact Us</a></li>
	<li><a href="#team_member_details" data-toggle="modal">Team</a></li>
{%endblock%}
<!-- jumbotron content -->
{% block jumbotron_content %}
{%if type == -1%}
	{% if captcha_response %}
		<div class="col-md-3"></div>
		<div class="col-md-6 alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>{{ captcha_response }}</strong>.
		</div>
		<div class="col-md-3"></div>
	{% else %}
		<div class="col-md-3"></div>
		<div class="col-md-6 alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Warning!</strong> An incorrect Username or Password was specified.
		</div>
		<div class="col-md-3"></div>
	{% endif %}
{%endif%}
<div class="clearfix"></div>
<!--Login form-->
<form id="login_form" class="form-horizontal" role="form" action="/courses" method="post" data-parsley-validate>{% csrf_token %}
<div class="form-group">
  <label for="inputUsername3" class="col-sm-2 control-label">Username</label>
  <div class="col-sm-8">
    <input type="text" class="form-control" id="inputUsername3"
	   placeholder="u12345678" name="username" required >
  </div>
</div>
<div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
  <div class="col-sm-8">
    <input type="password" class="form-control" id="inputPassword3"
	   placeholder="Password" name="password" required>
  </div>
</div>
{% if login_count < 3 %}
<!--<div id="reCaptcha_div" class="form-group hidden">
	<label for="inputPassword3" class="col-sm-2 control-label">Are you human?</label>
	<div class="col-sm-8">
            <span class="validation_error">{{ captcha_response }}</span>
        
            <script type="text/javascript"
            src="http://api.recaptcha.net/challenge?k=6Leu-PsSAAAAAJrGGi9q_eltXUHPHylKo3OOZhHP">
            </script>
            
            <noscript>
            <iframe src="http://api.recaptcha.net/noscript?k=6Leu-PsSAAAAAJrGGi9q_eltXUHPHylKo3OOZhHP"
            height="300" width="500" frameborder="0">
	    </iframe><br>
            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
            </textarea>
            <input type="hidden" name="recaptcha_response_field" 
            value="manual_challenge">
            </noscript>
	    <input type="submit" value="Save"/>
	</div>
</div>-->
{% else %}
<div id="reCaptcha_div" class="form-group">
	<label for="inputPassword3" class="col-sm-2 control-label">Are you human?</label>
	<div class="col-sm-8">
            <span class="validation_error">{{ captcha_response }}</span>
        
            <script type="text/javascript"
            src="http://api.recaptcha.net/challenge?k=6Leu-PsSAAAAAJrGGi9q_eltXUHPHylKo3OOZhHP">
            </script>
            
            <noscript>
            <iframe src="http://api.recaptcha.net/noscript?k=6Leu-PsSAAAAAJrGGi9q_eltXUHPHylKo3OOZhHP"
            height="300" width="500" frameborder="0">
	    </iframe><br>
            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
            </textarea>
            <input type="hidden" name="recaptcha_response_field" 
            value="manual_challenge">
            </noscript>
	    <!--<input type="submit" value="Save"/>-->
	</div>
</div>

<script>
	$('login_form').attr('method', '/re-courses');
</script>
{% endif %}
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="checkbox">
      <label>
	<input type="checkbox"> Remember me
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-8">
	<input type="hidden" name="user_ip" value={{ user_ip }}>
	<input type="hidden" name="login_count" value={{ login_count }}>
    <button type="submit" class="btn btn-default">Sign in</button>
  </div>
</div>
</form><!--End of Login form-->

<!--Team Deails Modal-->
<div class="modal fade" id="team_member_details" tabindex="-1" role="dialog" aria-labelledby="TeamMemberDetailsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">The Team</h4>
      </div>
      <div class="modal-body">
			<!--Person details-->
			<div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
				<div class="[ info-card ]">
					<!--<img style="width: 100%" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfa1/t1.0-9/417157_4897339837183_626079670_n.jpg" />-->
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
							<h1> Robert McIntosh </h1>
							<h3> aka Mouse0270 </h3>
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<p>The idea of creating something out of nothing has always generated a passion in my heart. This is what lead me to website development. I can literally create little worlds that hopefully thousands of people can see and even experience.</p>
							<div class="social">
								<a href="https://www.facebook.com/rem.mcintosh" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

								<a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

								<a href="https://github.com/mouse0270" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

								<a href="https://plus.google.com/u/0/115077481218689845626/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>

								<a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div><!--./Person details-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!--./Team Deails Modal-->
{% endblock %}
<!-- End of jumbotron content -->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}
