{% extends "web_interface/base_template.htm" %}

{% block title %}Home{% endblock  %}

<!--###########################  Nav bar settings ############################-->

{% block logout_button %}
	<li><a href="/">Logout</a></li>
{% endblock %}
	
{% block person_details %}
	<li><a href="person_details" > <span class="glyphicon glyphicon-user"></span> </a></li>
{% endblock %}

<!--###########################  End Nav bar settings ############################-->

<!--###########################  Courses dropdown ############################-->
<!-- Courses button -->
{% block courses_dropdown %}
{% for role in user_lect.0.LC %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_stud.0.ST %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_tut.0.TT %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_ta.0.TA %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Courses button -->

<!-- Use as button -->
{% block courses_use_as %}
{% for role in user_roles %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->

{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li><a href="#">Login</a></li>
		<li class="active"><a href="#">Home</a></li>
	</ol>
{% endblock %}


{% block jumbotron_header %} Hamster Marking System {% endblock %}

{% block jumbotron_sub_header %} Modules {% endblock %}


<!--###########################  jumbotron part ############################-->
<!-- jumbotron content -->
{% block jumbotron_content %}

{% if default_user == 'LC' %}
<script>
	$(document).ready(function(){
		$('#ST').hide();
		$('#TT').hide();
		$('#TA').hide();
	})
</script>
{% else %}{% if default_user == 'ST' %}
<script >
	$(document).ready(function(){
		$('#LC').hide();
		$('#TT').hide();
		$('#TA').hide();
	})
</script>
{% else %}{% if default_user == 'TT' %}
<script>
	$(document).ready(function(){
		$('#LC').hide();
		$('#ST').hide();
		$('#TA').hide();
	})
</script>
{% else %}{% if default_user == 'TA' %}
<script >
	$(document).ready(function(){
		$('#LC').hide();
		$('#TT').hide();
		$('#ST').hide();
	})
</script>
{% endif %}
{% endif %}
{% endif %}
{% endif %}

<!-- Student modules -->
<div class="row" id="ST">
	<p>You are a student of : </p>
	<div class="col-md-3"></div><!-- Padding for left of jumbotron -->
	<div class="col-md-6">
		{% for mod in user_stud.0.ST %}
			<form method='post'  action='view_assessment'>
				<button type="submit" class="btn btn-default btn-lg btn-block" name='studB' value={{mod}}>{{mod}}</button>
			</form>
				<!--<a href="/view_assessment">{{mod}}</a> -->
		{% endfor %}</button>
	</div>
	<div class="col-md-3"></div>
</div><!-- End Student modules -->

<!-- Lecturer modules -->
<div class="row" id="LC">
	<p>You are a lecturer of :</p>
	<div class="col-md-3"></div>
	<div class="col-md-6">
		{% for mod in user_lect.0.LC %}
			<form method=post action='view_assessment'>
				<button type="submit" class="btn btn-default btn-lg btn-block"  name='lectB' value={{mod}}>{{mod}}</button>
			</form>
		{% endfor %}</button>
	</div>
	<div class="col-md-3"></div>
</div><!-- End Lecturer modules -->

<!-- Tutor modules -->
<div class="row" id="TT">
	<p>You are a tutor of :</p>
	<div class="col-md-3"></div>
	<div class="col-md-6">
		{% for mod in user_tut.0.TT %}
			<form method="post" action="view_assessment">
				<button type="submit" class="btn btn-default btn-lg btn-block" name="tutB" value={{mod}}>{{mod}}</button>
			</form>
		{% endfor %}</button>
	</div>
	<div class="col-md-3"></div>
</div><!-- End Tutor modules -->

<!-- Teaching assistant modules -->
<div class="row" id= "TA">
	<p>You are a teaching assistant of :</p>
	<div class="col-md-3"></div>
	<div class="col-md-6">
		{% for mod in user_ta.0.TA %}
			<form method="post" action="view_assessment">
				<button type="submit" class="btn btn-default btn-lg btn-block" name="taB"value={{mod}}>{{mod}}</button>
			</form>
		{% endfor %}</button>
	</div>
	<div class="col-md-3"></div>
</div><!-- End Teaching assistant modules -->

{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}
