{% extends "web_interface/base_template.htm" %}

{% block title %} Marks {% endblock %}

<!--###########################  Nav bar settings ############################-->

{% block logout_button %}
  <li><a href="/">Logout</a></li>
{% endblock %}
  
{% block person_details %}
  <li><a href="person_details" > <span class="glyphicon glyphicon-user"></span> </a></li>
{% endblock %}

<!--###########################  End Nav bar settings ############################-->

<!--###########################  Courses dropdown ############################-->
<!-- Courses button -->
{% block courses_dropdown %}
{% for role in user_lect.0.LC %}
  <li><a id={{ role }} href="/view_assessment/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_stud.0.ST %}
  <li><a id={{ role }} href="/view_assessment/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_tut.0.TT %}
  <li><a id={{ role }} href="/view_assessment/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_ta.0.TA %}
  <li><a id={{ role }} href="/view_assessment/{{ role }}"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Courses button -->

<!-- Use as button -->
{% block courses_use_as %}
{% for role in user_roles %}
  <li><a id={{ role }}  href="/use_as/{{ role }}"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->


<!--###########################  jumbotron part ############################-->
{% block breadcrumbs_2 %}
<ol class="breadcrumb">
  <li><a href="#">Login</a></li>
  <li ><a href="#">Home</a></li>
  <li class="active"><a  href="/use_as/{{ role }}">Marks</a></li>
</ol>
{% endblock %}


{% block jumbotron_header %}
  <div class="text-center">Marks</div>
  
  {% ifequal assessment '' %}
    
  {% else %}
    <div class="text-center"><div class="label label-default">{{ assessment }}</div></div>
  {% endifequal %}
{% endblock %}

{% block jumbotron_sub_header %}
  <div class="text-center">{{ module }}</div>
{% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
        
    <div id="rem-jumbotron" class="well tree-finder">
      <ul class="nav nav-list list-group">
        
        {% ifequal root.0 empty %}
          <div class="alert alert-warning text-center" role="alert"><strong>Note!</strong> There are no assessments available.</div>
        {%endifequal%}
        {%for n in root%}<!-- Major point -->
          {% ifequal n.3 'Aggregate' %}
            <li class="list-group-item"><button class="tree-toggler nav-header btn btn-xs btn-primary">
            <span id="icon-folder" class="glyphicon glyphicon-folder-open"></span>  {{n.1}}</button>
            
            <!--<div class="btn-group btn-group-xs">-->
            <!--  <span class="badge">{{n.4}}</span>-->
            <!--</div>-->
	    
	    <!--<div class="btn-group btn-group-xs">
              <button type="button" id={{n.0}} onclick="mark_view_grid(this)"
		      class="btn btn-primary grid-exp" data-toggle="tooltip"
		      data-placement="top" title="View mark">
                <span id="btn-grid-exp" class="fa fa-caret-right"></span>
              </button>
            </div>-->
	    
	    <!-- Expand export btn -->
            <div class="btn-group btn-group-xs">
              <button type="button" id={{n.0}} onclick="plus_export_opts(this)" class="btn btn-primary grid-exp" data-toggle="tooltip"
              data-placement="top" title="Export marks as">
                <span id="btn-grid-exp" class="fa fa-download"></span>
              </button>
            </div>
            
	    <!-- Export PDF and CSV btns -->
            <div id={{n.0}} class="btn-group btn-group-xs grid-toggle-opts">
              <form action={% url 'generate_pdf_for_student' %} method="post" hidden="hidden"
                    class="form-group-sm post-ass"> {% csrf_token %}
                <input type="hidden" name="module" value={{ module }}>
                <input type="hidden" name="assessment" value={{ n.0 }}>
              </form>
              <button onclick="$(this).parent().children('form.post-ass').submit();" class="btn btn-danger" data-toggle="tooltip"
              data-placement="top" title="Export as PDF">
                <span class="fa fa-file-pdf-o"></span> 
              </button>
              
              <form action={% url 'generate_csv_for_student' %} method="post" hidden="hidden"
			class="form-group-sm post-sess">{% csrf_token %}
		<input type="hidden" name="module" value={{ module }}>
		<input type="hidden" name="assessment" value={{n.0}}>
              </form>
              <button type="button" onclick="$(this).parent().children('form.post-sess').submit();" class="btn btn-success" data-toggle="tooltip"
              data-placement="top" title="Export as CSV">
                <span class="fa fa-file-excel-o"></span> 
              </button>
            </div>
            
	    <!-- Marks btn-group -->
            <div  class="pull-right btn-group btn-group-xs mark-view-toggle">
              <button type="button"  class="btn btn-primary grid-exp" data-toggle="tooltip"
              data-placement="top" title="Mark obtained">{{ n.4 }}</button>
              <button type="button"  class="btn btn-info grid-exp" data-toggle="tooltip"
              data-placement="top" title="Total obtainable mark">{{ n.5 }}</button>
	      <button type="button"  class="btn btn-default grid-exp" data-toggle="tooltip"
              data-placement="top" title="Percentage obtained">{{ n.6 }} %</button>
            </div>
            
            
            <!--<span class="badge pull-right">{{n.4}}</span>-->
          {% else %}
            <li class="list-group-item"><button  type="button" class="btn btn-xs btn-info">{{n.1}}</button>
            
	    <!--<div class="btn-group btn-group-xs">
              <button type="button" id={{n.0}} onclick="mark_view_grid(this)"
		      class="btn btn-primary grid-exp" data-toggle="tooltip"
		      data-placement="top" title="View mark">
                <span id="btn-grid-exp" class="fa fa-caret-right"></span>
              </button>
            </div>-->
	    
	    <!--Expand export btn-->
            <div class="btn-group btn-group-xs">
              <button type="button" id={{n.0}} onclick="plus_export_opts(this)" class="btn btn-primary grid-exp" data-toggle="tooltip"
              data-placement="top" title="Export marks as">
                <span id="btn-grid-exp" class="fa fa-download"></span>
              </button>
            </div>
            
	    <!--Export PDF and CSV btn-->
            <div id={{n.0}} class="btn-group btn-group-xs grid-toggle-opts">
              <form action={% url 'generate_pdf_for_student' %} method="post" hidden="hidden"
		class="form-group-sm post-ass">{% csrf_token %}
			<input type="hidden" name="module" value={{ module }}>
			<input type="hidden" name="assessment" value={{ n.0 }}>
		</form>
		<button onclick="$(this).parent().children('form.post-ass').submit();" class="btn btn-danger" data-toggle="tooltip"
		  data-placement="top" title="Export as PDF">
		    <span class="fa fa-file-pdf-o"></span> 
		</button>
              
               <form action={% url 'generate_csv_for_student' %} method="post" hidden="hidden"
			class="form-group-sm post-sess">{% csrf_token %}
		<input type="hidden" name="module" value={{ module }}>
		<input type="hidden" name="assessment" value={{n.0}}>
              </form>
              <button type="button" onclick="$(this).parent().children('form.post-sess').submit();" class="btn btn-success" data-toggle="tooltip"
              data-placement="top" title="Export as CSV">
                <span class="fa fa-file-excel-o"></span> 
              </button>
            </div>
	    
	    <!--Marks btn-group-->
            <div class="pull-right btn-group btn-group-xs mark-view-toggle">
              <button type="button"  class="btn btn-primary grid-exp" data-toggle="tooltip"
              data-placement="top" title="Mark obtained">{{ n.4 }}</button>
              <button type="button"  class="btn btn-info grid-exp" data-toggle="tooltip"
              data-placement="top" title="Total obtainable mark">{{ n.5 }}</button>
	      <button type="button"  class="btn btn-default grid-exp" data-toggle="tooltip"
              data-placement="top" title="Percentage obtained">{{ n.6 }} %</button>
            </div>
            
            
            </li>
          {% endifequal %}
          <!--<h1>{{n.3}}</h1>-->
          {%for m in first%}
            <ul class="nav nav-list tree">
              {% for key, value in m.items %}
                {% ifequal key n.1 %}
                  {% for y in value %}<!-- Major point 2-->
                    {% ifequal y.3 'Aggregate' %}
                      <li class="list-group-item"><button class="tree-toggler nav-header btn btn-xs btn-primary">
                      <span id="icon-folder" class="glyphicon glyphicon-folder-open"></span>  {{y.1}}</button>
                      
		      <!--<div class="btn-group btn-group-xs">
			<button type="button" id={{n.0}} onclick="mark_view_grid(this)"
				class="btn btn-primary grid-exp" data-toggle="tooltip"
				data-placement="top" title="View mark">
			  <span id="btn-grid-exp" class="fa fa-caret-right"></span>
			</button>
		      </div>-->
		      
		      <!--Expand export btn-->
		      <div class="btn-group btn-group-xs">
			<button type="button" id={{n.0}} onclick="plus_export_opts(this)" class="btn btn-primary grid-exp" data-toggle="tooltip"
			data-placement="top" title="Export marks as">
			  <span id="btn-grid-exp" class="fa fa-download"></span>
			</button>
		      </div>
		      
		      <!--Export PDF and CSV btns-->
		      <div id={{n.0}} class="btn-group btn-group-xs grid-toggle-opts">
			<form action={% url 'generate_pdf_for_student' %} method="post" hidden="hidden"
			class="form-group-sm post-ass">{% csrf_token %}
				<input type="hidden" name="module" value={{ module }}>
				<input type="hidden" name="assessment" value={{ y.0 }}>
			</form>
			<button onclick="$(this).parent().children('form.post-ass').submit();" class="btn btn-danger" data-toggle="tooltip"
			  data-placement="top" title="Export as PDF">
			    <span class="fa fa-file-pdf-o"></span> 
			</button>
			
			<form action={% url 'generate_csv_for_student' %} method="post" hidden="hidden"
			class="form-group-sm post-sess">{% csrf_token %}
				<input type="hidden" name="module" value={{ module }}>
				<input type="hidden" name="assessment" value={{y.0}}>
			</form>
			<button type="button" onclick="$(this).parent().children('form.post-sess').submit();" class="btn btn-success" data-toggle="tooltip"
			data-placement="top" title="Export as CSV">
			  <span class="fa fa-file-excel-o"></span> 
			</button>
		      </div>
		      
		      <!--Marks btn-group-->
                      <div class="pull-right btn-group btn-group-xs mark-view-toggle">
			<button type="button"  class="btn btn-primary grid-exp" data-toggle="tooltip"
			data-placement="top" title="Mark obtained">{{ y.4 }}</button>
			<button type="button"  class="btn btn-info grid-exp" data-toggle="tooltip"
			data-placement="top" title="Total obtainable mark">{{ y.5 }}</button>
			<button type="button"  class="btn btn-default grid-exp" data-toggle="tooltip"
			data-placement="top" title="Percentage obtained">{{ y.6 }} %</button>
		      </div>
                      
                      <!--<span class="badge pull-right">{{y.4}}</span>-->
                    {% else %}
                      <li class="list-group-item"><button type="button" class="btn btn-xs btn-info">{{y.1}}</button>
                      
		      <!--<div class="btn-group btn-group-xs">
			<button type="button" id={{n.0}} onclick="mark_view_grid(this)"
				class="btn btn-primary grid-exp" data-toggle="tooltip"
				data-placement="top" title="View mark">
			  <span id="btn-grid-exp" class="fa fa-caret-right"></span>
			</button>
		      </div>-->
		      
		      <!--Expand export btn-->
		      <div class="btn-group btn-group-xs">
			<button type="button" id={{n.0}} onclick="plus_export_opts(this)" class="btn btn-primary grid-exp" data-toggle="tooltip"
			data-placement="top" title="Export marks as">
			  <span id="btn-grid-exp" class="fa fa-download"></span>
			</button>
		      </div>
		      
		      <!--Marks btn-group-->
		      <div id={{n.0}} class="btn-group btn-group-xs grid-toggle-opts">
			<form action={% url 'generate_pdf_for_student' %} method="post" hidden="hidden"
			class="form-group-sm post-ass">{% csrf_token %}
				<input type="hidden" name="module" value={{ module }}>
				<input type="hidden" name="assessment" value={{ y.0 }}>
			</form>
			<button onclick="$(this).parent().children('form.post-ass').submit();" class="btn btn-danger" data-toggle="tooltip"
			  data-placement="top" title="Export as PDF">
			    <span class="fa fa-file-pdf-o"></span> 
			</button>
			
			<form action={% url 'generate_csv_for_student' %} method="post" hidden="hidden"
			class="form-group-sm post-sess">{% csrf_token %}
				<input type="hidden" name="module" value={{ module }}>
				<input type="hidden" name="assessment" value={{y.0}}>
			</form>
			<button type="button" onclick="$(this).parent().children('form.post-sess').submit();" class="btn btn-success" data-toggle="tooltip"
			data-placement="top" title="Export as CSV">
			  <span class="fa fa-file-excel-o"></span> 
			</button>
		      </div>
		      
		      <!--Marks btn-group-->
                      <div class="pull-right btn-group btn-group-xs mark-view-toggle">
			<button type="button"  class="btn btn-primary grid-exp" data-toggle="tooltip"
			data-placement="top" title="Mark obtained">{{ y.4 }}</button>
			<button type="button"  class="btn btn-info grid-exp" data-toggle="tooltip"
			data-placement="top" title="Total obtainable mark">{{ y.5 }}</button>
			<button type="button"  class="btn btn-default grid-exp" data-toggle="tooltip"
			data-placement="top" title="Percentage obtained">{{ y.6 }} %</button>
		      </div>
                      
                      </li>
                    {% endifequal %}
                    <!--<h2 style="color:red">{{ y.1}}</h2>-->
                    {%for s in second%}
                      <ul class="nav nav-list tree">
                        {%for key, value in s.items%}
                          {%ifequal key y.1%}
                            {%for e in value%}<!-- Major point 3-->
                              {% ifequal e.3 'Aggregate' %}
                                <li class="list-group-item"><button class="tree-toggler nav-header btn btn-xs btn-primary">
                                <span id="icon-folder" class="glyphicon glyphicon-folder-open"></span>  {{e.1}}</button>
                              
				<!--<div class="btn-group btn-group-xs">
					<button type="button" id={{n.0}} onclick="mark_view_grid(this)"
						class="btn btn-primary grid-exp" data-toggle="tooltip"
						data-placement="top" title="View mark">
					  <span id="btn-grid-exp" class="fa fa-caret-right"></span>
					</button>
				</div>-->
			      
				<!--Expand export btn-->
				<div class="btn-group btn-group-xs">
					<button type="button" id={{n.0}} onclick="plus_export_opts(this)" class="btn btn-primary grid-exp" data-toggle="tooltip"
					data-placement="top" title="Export marks as">
					  <span id="btn-grid-exp" class="fa fa-download"></span>
					</button>
				</div>
				      
				<!--Export PDF and CSV btn-->
				<div id={{n.0}} class="btn-group btn-group-xs grid-toggle-opts">
					<form action={% url 'generate_pdf_for_student' %} method="post" hidden="hidden"
					class="form-group-sm post-ass">{% csrf_token %}
						<input type="hidden" name="module" value={{ module }}>
						<input type="hidden" name="assessment" value={{ e.0 }}>
					</form>
					<button onclick="$(this).parent().children('form.post-ass').submit();" class="btn btn-danger" data-toggle="tooltip"
					  data-placement="top" title="Export as PDF">
					    <span class="fa fa-file-pdf-o"></span> 
					</button>
					
					<form action={% url 'generate_csv_for_student' %} method="post" hidden="hidden"
					class="form-group-sm post-sess">{% csrf_token %}
						<input type="hidden" name="module" value={{ module }}>
						<input type="hidden" name="assessment" value={{e.0}}>
					</form>
					<button type="button" onclick="$(this).parent().children('form.post-sess').submit();" class="btn btn-success" data-toggle="tooltip"
					data-placement="top" title="Export as CSV">
					  <span class="fa fa-file-excel-o"></span> 
					</button>
				</div>
				      
				<!--Marks btn-group-->
                                <div class="pull-right btn-group btn-group-xs mark-view-toggle">
					<button type="button"  class="btn btn-primary grid-exp" data-toggle="tooltip"
					data-placement="top" title="Mark obtained">{{ e.4 }}</button>
					<button type="button"  class="btn btn-info grid-exp" data-toggle="tooltip"
					data-placement="top" title="Total obtainable mark">{{ e.5 }}</button>
					<button type="button"  class="btn btn-default grid-exp" data-toggle="tooltip"
					data-placement="top" title="Percentage obtained">{{ e.6 }} %</button>
				</div>
                              
                                <!--<span class="badge pull-right">{{e.4}}</span>-->
                              {% else %}
                                <li class="list-group-item"><button type="button" class="btn btn-xs btn-info">{{e.1}}</button>
                                
				<!--<div class="btn-group btn-group-xs">
					<button type="button" id={{n.0}} onclick="mark_view_grid(this)"
						class="btn btn-primary grid-exp" data-toggle="tooltip"
						data-placement="top" title="View mark">
					  <span id="btn-grid-exp" class="fa fa-caret-right"></span>
					</button>
				</div>-->
				
				<!--Expand export btn-->
				<div class="btn-group btn-group-xs">
					<button type="button" id={{n.0}} onclick="plus_export_opts(this)" class="btn btn-primary grid-exp" data-toggle="tooltip"
					data-placement="top" title="Export marks as">
					  <span id="btn-grid-exp" class="fa fa-download"></span>
					</button>
				</div>
				      
				<!--Marks btn-group-->
				<div id={{n.0}} class="btn-group btn-group-xs grid-toggle-opts">
					<form action={% url 'generate_pdf_for_student' %} method="post" hidden="hidden"
					class="form-group-sm post-ass">{% csrf_token %}
						<input type="hidden" name="module" value={{ module }}>
						<input type="hidden" name="assessment" value={{ e.0 }}>
					</form>
					<button onclick="$(this).parent().children('form.post-ass').submit();" class="btn btn-danger" data-toggle="tooltip"
					  data-placement="top" title="Export as PDF">
					    <span class="fa fa-file-pdf-o"></span> 
					</button>
					
					<form action={% url 'generate_csv_for_student' %} method="post" hidden="hidden"
					class="form-group-sm post-sess">{% csrf_token %}
						<input type="hidden" name="module" value={{ module }}>
						<input type="hidden" name="assessment" value={{e.0}}>
					</form>
					<button type="button" onclick="$(this).parent().children('form.post-sess').submit();" class="btn btn-success" data-toggle="tooltip"
					data-placement="top" title="Export as CSV">
					  <span class="fa fa-file-excel-o"></span> 
					</button>
				</div>
				      
				<!--Marks btn-group-->
                                <div class="pull-right btn-group btn-group-xs mark-view-toggle">
					<button type="button"  class="btn btn-primary grid-exp" data-toggle="tooltip"
					data-placement="top" title="Mark obtained">{{ e.4 }}</button>
					<button type="button"  class="btn btn-info grid-exp" data-toggle="tooltip"
					data-placement="top" title="Total obtainable mark">{{ e.5 }}</button>
					<button type="button"  class="btn btn-default grid-exp" data-toggle="tooltip"
					data-placement="top" title="Percentage obtained">{{ e.6 }} %</button>
				</div>
                                
                                </li>
                              {% endifequal %}
                              <!--<h4  style="color:yellow">{{e.1}}</h4>-->
                              {%for t in third%}
                                <ul class="nav nav-list tree">
                                  {%for key, value in t.items%}
                                    {%ifequal key e.1%}
                                      {%for h in value%}<!-- Major point 4-->
                                        {% ifequal h.3 'Aggregate' %}
                                          <li class="list-group-item">
						<form action="student-assessment" method="post" hidden="hidden" class="last-agg">{% csrf_token %}
							<input type="text" name="assess_id" value={{ h.0 }}>
							<input type="text" name="module" value={{ module }}>
						</form>
						<button class="tree-toggler nav-header btn btn-xs btn-primary"
						onclick="$(this).parent().children('form.last-agg').submit();">
                                          <span id="icon-folder" class="glyphicon glyphicon-folder-open"></span>  {{h.1}}</button>
                                        
						<!--<div class="btn-group btn-group-xs">
						      <button type="button" id={{n.0}} onclick="mark_view_grid(this)"
							      class="btn btn-primary grid-exp" data-toggle="tooltip"
							      data-placement="top" title="View mark">
							<span id="btn-grid-exp" class="fa fa-caret-right"></span>
						      </button>
						</div>-->
					
						<!--Expand export btn-->
						<div class="btn-group btn-group-xs">
							<button type="button" id={{n.0}} onclick="plus_export_opts(this)" class="btn btn-primary grid-exp" data-toggle="tooltip"
							data-placement="top" title="Export marks as">
							  <span id="btn-grid-exp" class="fa fa-download"></span>
							</button>
						</div>
						      
						<!--Export PDF and CSV btns-->
						<div id={{n.0}} class="btn-group btn-group-xs grid-toggle-opts">
							<form action={% url 'generate_pdf_for_student' %} method="post" hidden="hidden"
							class="form-group-sm post-ass">{% csrf_token %}
								<input type="hidden" name="module" value={{ module }}>
								<input type="hidden" name="assessment" value={{ h.0 }}>
							</form>
							<button onclick="$(this).parent().children('form.post-ass').submit();" class="btn btn-danger" data-toggle="tooltip"
							  data-placement="top" title="Export as PDF">
							    <span class="fa fa-file-pdf-o"></span> 
							</button>
							
							<form action={% url 'generate_csv_for_student' %} method="post" hidden="hidden"
							class="form-group-sm post-sess">{% csrf_token %}
								<input type="hidden" name="module" value={{ module }}>
								<input type="hidden" name="assessment" value={{h.0}}>
							</form>
							<button type="button" onclick="$(this).parent().children('form.post-sess').submit();" class="btn btn-success" data-toggle="tooltip"
							data-placement="top" title="Export as CSV">
							  <span class="fa fa-file-excel-o"></span> 
							</button>
						</div>
						      
						<!--Marks btn-group-->
						<div class="pull-right btn-group btn-group-xs mark-view-toggle">
							<button type="button"  class="btn btn-primary grid-exp" data-toggle="tooltip"
							data-placement="top" title="Mark obtained">{{ h.4 }}</button>
							<button type="button"  class="btn btn-info grid-exp" data-toggle="tooltip"
							data-placement="top" title="Total obtainable mark">{{ h.5 }}</button>
							<button type="button"  class="btn btn-default grid-exp" data-toggle="tooltip"
							data-placement="top" title="Percentage obtained">{{ h.6 }} %</button>
						</div>
                                        
                                          <!--<span class="badge pull-right">{{h.4}}</span>-->
                                        {% else %}
                                          <li class="list-group-item"><button type="button" class="btn btn-xs btn-info">{{h.1}}</button>
                                          
					    <!--<div class="btn-group btn-group-xs">
						<button type="button" id={{n.0}} onclick="mark_view_grid(this)"
							class="btn btn-primary grid-exp" data-toggle="tooltip"
							data-placement="top" title="View mark">
						  <span id="btn-grid-exp" class="fa fa-caret-right"></span>
						</button>
					    </div>-->
					
					      <!--Expand export btn-->
					      <div class="btn-group btn-group-xs">
							<button type="button" id={{n.0}} onclick="plus_export_opts(this)" class="btn btn-primary grid-exp" data-toggle="tooltip"
							data-placement="top" title="Export marks as">
							  <span id="btn-grid-exp" class="fa fa-download"></span>
							</button>
					      </div>
					      
					      <!--Export PDF and CSV btn-->
					      <div id={{n.0}} class="btn-group btn-group-xs grid-toggle-opts">
							<form action={% url 'generate_pdf_for_student' %} method="post" hidden="hidden"
							class="form-group-sm post-ass">{% csrf_token %}
								<input type="hidden" name="module" value={{ module }}>
								<input type="hidden" name="assessment" value={{ h.0 }}>
							</form>
							<button onclick="$(this).parent().children('form.post-ass').submit();" class="btn btn-danger" data-toggle="tooltip"
							  data-placement="top" title="Export as PDF">
							    <span class="fa fa-file-pdf-o"></span> 
							</button>
							
							<form action={% url 'generate_csv_for_student' %} method="post" hidden="hidden"
							class="form-group-sm post-sess">{% csrf_token %}
								<input type="hidden" name="module" value={{ module }}>
								<input type="hidden" name="assessment" value={{h.0}}>
							</form>
							<button type="button" onclick="$(this).parent().children('form.post-sess').submit();" class="btn btn-success" data-toggle="tooltip"
							data-placement="top" title="Export as CSV">
							  <span class="fa fa-file-excel-o"></span> 
							</button>
						</div>
					      
						<!--Marks btn-group-->
						<div class="pull-right btn-group btn-group-xs mark-view-toggle">
							<button type="button"  class="btn btn-primary grid-exp" data-toggle="tooltip"
							data-placement="top" title="Mark obtained">{{ h.4 }}</button>
							<button type="button"  class="btn btn-info grid-exp" data-toggle="tooltip"
							data-placement="top" title="Total obtainable mark">{{ h.5 }}</button>
							<button type="button"  class="btn btn-default grid-exp" data-toggle="tooltip"
							data-placement="top" title="Percentage obtained">{{ h.6 }} %</button>
						</div>
                                          
                                          </li>
                                        {% endifequal %}
                                        <!--<h6  style="color:pink">{{h.1}}</h6>-->
                                      {%endfor%}
                                      {% ifequal h.3 'Aggregate' %}
                                        </li>
                                      {% endifequal %}
                                    {%endifequal%}
                                  {%endfor%}
                                </ul>
                              {%endfor%}
                              {% ifequal e.3 'Aggregate' %}
                                </li>
                              {% endifequal %}
                            {%endfor%}
                          {%endifequal%}
                        {%endfor%}
                      </ul>
                    {%endfor%}
                    {% ifequal y.3 'Aggregate' %}
                      </li>
                    {% endifequal %}
                  {% endfor %}
                {% endifequal %}
              {% endfor %}
            </ul>
          {%endfor%}
          {% ifequal n.3 'Aggregate' %}
            </li>
            <li class="nav-divider"></li>
          {% else %}
            <li class="nav-divider"></li>
          {% endifequal %}
        {%endfor%}
        
      </ul>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}