{% extends "web_interface/base_template.htm" %}

{% block title %} Modify Marks {% endblock %}

<!--###########################  Nav bar settings ############################-->

{% block logout_button %}
	<li><a href="/">Logout</a></li>
{% endblock %}
	
{% block person_details %}
	<li><a href="person_details" > <span class="glyphicon glyphicon-user"></span> </a></li>
{% endblock %}

<!--###########################  End Nav bar settings ############################-->

<!--###########################  Courses dropdown ############################-->
<!-- Courses button -->
{% block courses_dropdown %}
{% for role in user_lect.0.LC %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_stud.0.ST %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_tut.0.TT %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}

{% for role in user_ta.0.TA %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Courses button -->

<!-- Use as button -->
{% block courses_use_as %}
{% for role in user_roles %}
	<li><a id={{ role }} href="#"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->


<!--###########################  jumbotron part ############################-->
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="#">Login</a></li>
	<li ><a href="#">Home</a></li>
	<li class="active"><a href="#">Assessments</a></li>
</ol>
{% endblock %}


{% block jumbotron_header %}
	{{ assessmentName }} <span class="label label-default">{{ fullmark }}</span>
	<button type="button" class="btn btn-primary btn-md " data-target="#update_leaf_mark" data-toggle="modal"
		>Total Mark  <span class="glyphicon glyphicon-cog"></span></button>
	
		<div class="modal fade" id="update_leaf_mark" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="/update_leaf_total_mark" method="post">
				<div class="modal-header">
					<h2><strong>Update Total Mark for {{ assessmentName }}</strong></h2>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<h4>
						<label for="contact-name" class="col-lg-5 control-label">Previous Total Mark:</label>
						</h4>
						<div class="col-lg-5">
							<input type="number" disabled="disabled" class="form-control" placeholder={{ fullmark }} value={{ fullmark }}>
						</div>
					</div>
					<div class="form-group">
						<h4>
						<label for="contact-email" class="col-lg-5 control-label">Full Mark:</label>
						</h4>
						<div class="col-lg-5">
							<input hidden="hidden" name="assess_id" value={{ assess_id }}>
							<input type="number" class="form-control" id="new-full-mark" name="fullmark" placeholder="100">
						</div>
					</div>
					
					<div class="form-group">
						
						<div class="col-lg-8">
							<input type="hidden" class="form-control" id="assessment-name" name="mod" value={{ module }} placeholder={{ module }}>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button id="submit" class="btn btn-success" type="submit">Update</button>
				</div>
			</form>
		</div>
	</div>
	</div><!--End of Modal for ContactUs-->

		
{% endblock %}

{% block jumbotron_sub_header %} {{ module }} {% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}

{% if message == None %}
	<!-- Do nothing no alert is required -->
{% else %}
	{% if message == 0 %}
		
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Warning!</strong> The mark could not be updated, please try again.
		</div>
	{% elif message == 1 %}
	
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Success!</strong> The mark was updated successfully.
		</div>

	{% endif %}
		
{% endif %}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table class="table table-hover table-bordered">
			<tr>
				<td><strong> UserID </strong></td>
				<td><strong> Name </strong></td>
				<td><strong> Surname </strong></td>
				<td><strong> Mark obtained </strong></td>
			</tr>
			{% for per in studentMark %}
			<tr>
				<td> {{per.0}} </td>
				<td> {{per.1}} </td>
				<td> {{per.2}} </td>
				{% if per.3 < 0 %}
				<td class="col-md-3">
					<form method="post" action="/update_mark" class="form-inline" role="form">
						<input type="number" class="form-control" placeholder="Mark awarded"  name="mark">
						<button type="submit" class="btn btn-success" >Submit  <span class="glyphicon glyphicon-ok"></span></button>
						<input hidden="hidden" name="assess_id" value={{ assess_id }}>
						<input hidden="hidden" name="uid" value={{ per.0 }}>
						<input hidden="hidden" name="mod" value={{ module }}>

					</form>
				</td>
				{% else %}
				<td class="col-md-3">
					<form  onsubmit='return to_submit({{ per.0 }});' class="form-inline" name={{ per.0 }} role="form" id="form_edit">
						<input id={{ per.0 }} disabled="disabled" type="number" class="form-control" placeholder="Mark awarded" value={{ per.3 }}>
						<button type="submit" class="btn btn-warning" id={{ per.0 }} >Edit  <span class="glyphicon glyphicon-edit"></span></button>
						<input hidden="hidden" name="assess_id" value={{ assess_id }}>
						<input hidden="hidden" name="uid" value={{ per.0 }}>
						<input hidden="hidden" name="mod" value={{ module }}>
					</form>
				</td>
				
				<script>
					function to_submit(stud_id) {
						alert(stud_id);
						var data_nyana = document.getElementById('form_edit').name;
						alert(data_nyana);
						var class_data = document.getElementById(data_nyana);
						alert(class_data.className);
						if (class_data.className == "btn btn-warning") {
							alert(data_nyana);
							class_data.className="btn btn-success";
							class_data.span.className="glyphicon glyphicon-ok"
							alert("changed button");
							document.getElementById(data_nyana).disabled=false;
							alert("editable");
							return false;
						}
						else{
							class_data.class="btn btn-warning";
							document.getElementById('edit_input').disabled=true;
							class_data.form.submit();
							
						}

					}
					
			       </script>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		<button type="submit" name="submit" class="btn btn-primary btn-block" data-target="#create_leaf_ass" data-toggle="modal">
			<span class="glyphicon glyphicon-plus"></span> Create Leaf Assessment </button>
	</div>
	<div class="col-md-2"></div>
</div>

	<div class="modal fade" id="create_leaf_ass" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" action="/create_leaf_assessment" method="post">
					<div class="modal-header">
						<h4>Create a Leaf Assessment</h4>
					</div>
					<div class="modal-body">
						
						<div class="form-group">
							
							<label for="contact-name" class="col-lg-2 control-label">Assessment Name:</label>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="assessment-name" name="name" placeholder="Project 1 Phase 1">
	
							</div>
	
						</div>
	
						<div class="form-group">
							
							<label for="contact-email" class="col-lg-2 control-label">Full Mark:</label>
							<div class="col-lg-8">
								<input type="number" class="form-control" id="full-mark" name="fullmark" placeholder="100">
	
							</div>
	
						</div>
						
						<div class="form-group">
							
							<div class="col-lg-8">
								<input type="hidden" class="form-control" id="assessment-name" name="mod" value={{ module }} placeholder={{ module }}>
	
							</div>
	
						</div>
	
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Close</a>
						<button id="submit" class="btn btn-success" type="submit" name="leaf" value={{assess_id}}>Create</button>
					</div>
				</form>
			</div>
		</div>
	</div><!--End of Modal for ContactUs-->


{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}