{% extends "web_interface/base_template.htm" %}

{% block title %} View Marks {% endblock %}

<!--###########################  Nav bar settings ############################-->

{% block logout_button %}
	<li><a href="/">Logout</a></li>
{% endblock %}
	
{% block person_details %}
	<li><a href="#" onclick="document.getElementById('details').submit(); return false" > <span class="glyphicon glyphicon-user"></span> </a></li>
	<form action="/User" id="details" method="post" hidden='hidden'>
	</form>
{% endblock %}

<!--###########################  End Nav bar settings ############################-->

<!--###########################  Courses dropdown ############################-->
<!-- Courses button -->
{% block courses_dropdown %}
{% for role in user_lect.0.LC %}
	<li><a id={{ role }} href="/course/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_stud.0.ST %}
	<li><a id={{ role }} href="/course/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_tut.0.TT %}
	<li><a id={{ role }} href="/course/{{ role }}"> {{ role }}</a></li>
{% endfor %}
<li class="divider"></li>
{% for role in user_ta.0.TA %}
	<li><a id={{ role }} href="/course/{{ role }}"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Courses button -->

<!-- Use as button -->
{% block courses_use_as %}
{% for role in user_roles %}
	<li><a id={{ role }}  href="/use_as/{{ role }}"> {{ role }}</a></li>
{% endfor %}
{% endblock %}
<!-- End of Use as button -->

<!--###########################  End Courses dropdown ############################-->


<!--###########################  jumbotron part ############################-->
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="#">Login</a></li>
	<li ><a href="#">Home</a></li>
	<li class="active"><a href="#">Assessments</a></li>
</ol>
{% endblock %}


{% block jumbotron_header %}
	{% if type == -1 %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		<ul class="nav nav-pills nav-stacked">
			<li class="active">
				<a href="#">
					No Information   
					<span class="badge"><h4>0</h4></span>
				</a>
			</li>
		</ul>
		</div>
		<div class="col-md-2"></div>
	</div>
	{% else %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		<ul class="nav nav-pills nav-stacked">
			<li class="active">
				<a href="#">
					{{ assessmentName.1 }} {{ assessmentName.2 }}    
					<span class="badge"><h4>{{ assessmentName.0 }}</h4></span>
				</a>
			</li>
		</ul>
		</div>
		<div class="col-md-2"></div>
	</div>
	{% endif %}
	
{% endblock %}

{% block jumbotron_sub_header %} {{ module }} {% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}


<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		{% if type == -1 %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
				</span><span class="sr-only">Close</span></button>
				<strong>Sorry!</strong> There is no mark for this assessment.
			</div>
		{% else %}
		<table class="table table-hover table-bordered">
			<tr>
				<td><strong> Assessment Name </strong></td>
				<td><strong> Aggregated Mark </strong></td>
				<td><strong> Full Mark </strong></td>
				<td><strong> Sub-assessments </strong></td>
			</tr>
			{% for ass in assessments %}
			<tr>
				<td> {{ass.1}} </td>
				<td> {{ass.2}} </td>
				<td> {{ass.3}} </td>
				<td>
					<form action="/view_children_assessment_student" method="post">
						<input type="hidden" name="mod" value={{ module }}>
						<button  class="btn btn-primary" value={{ ass.0 }} name = 'subs'
						data-toggle="tooltip" data-placement="left" title="Leaf assessments">  <!-- parent id --> 
						<span class="glyphicon glyphicon-arrow-right"></span></button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		<!-- Available for root assessments only, drowdown with export options-->
		<div class="dropdown">
			<button type="submit" name="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-download"></span> Save as <b class="caret"></b></button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<form action="#" method="post" class="form-group-sm">
						<input type="hidden" name="mod" value={{ module }}>
						<button type="button" class="btn btn-default btn-md btn-block" name="docType" value="PDF">PDF</button>
					</form>
				</li><li>
					<form action="#" method="post" class="form-group-sm">
						<input type="hidden" name="mod" value={{ module }}>
						<button type="button" class="btn btn-primary btn-md btn-block" name="docType" value="CSV">CSV</button>
					</form>
				</li>
			</ul>
		</div>

	</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}