{% extends "web_interface/base_template.htm" %}

{% block title %} Modify Marks {% endblock %}

<!--###########################  Nav bar settings ############################-->
{% block header%}
	<li class="active"><a href="/hamster_home">Home</a></li>
	<li><a href="/logout">Logout</a></li>
	<li><a href="#" onclick="document.getElementById('details').submit(); return false" > <span class="glyphicon glyphicon-user"></span> </a></li>
	<form action="/User" id="details" method="post" hidden='hidden'>{% csrf_token %}
	</form>
	<li>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Courses <b class="caret"></b></a>
		<ul class="dropdown-menu">
		{% for role in user_lect.0.LC %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="lectB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_stud.0.ST %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="studB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_tut.0.TT %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="tutB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		<li class="divider"></li>
		{% for role in user_ta.0.TA %}
		<li>
			<form action="/courses/{{ role }}" method="post" hidden="hidden" class="user-role">
				{% csrf_token %}
				<input type="text" value={{ role }} name="taB">
			</form>
			<a onclick="$(this).parent().children('form.user-role').submit();"> {{ role }}</a>
		</li>
		{% endfor %}
		</ul>
	</li>
	<li>
					
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Use as <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{% for role in user_roles %}
			<li>
				<form action="/user-mode" method="post" hidden="hidden" class="use-as">
					{% csrf_token %}
					<input type="text" name="role" value={{ role }}>
				</form>
				<a onclick="$(this).parent().children('form.use-as').submit();"> {{ role }}</a>
			</li>
			{% endfor %}
		</ul>
	</li>
	<li><a href="#query" data-toggle="modal">Query</a></li>
	<li><a href="#contact" data-toggle="modal">Contact Us</a></li>
{%endblock%}

<!--###########################  End Courses dropdown ############################-->


<!--###########################  jumbotron part ############################-->
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="#">Login</a></li>
	<li ><a href="#">Home</a></li>
	<li class="active"><a href="#">Assessments</a></li>
</ol>
{% endblock %}


{% block jumbotron_header %}
	{{ assessmentName }} <span class="label label-default">{{ fullmark }}</span>
	<button type="button" class="btn btn-primary btn-md " data-target="#update_leaf_mark" data-toggle="modal"
		>Total Mark  <span class="glyphicon glyphicon-cog"></span></button>
	
		<div class="modal fade" id="update_leaf_mark" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" action="update-fullmark" method="post" data-parsley-validate>
				{% csrf_token %}
				<div class="modal-header">
					<h2><strong>Update Total Mark for</strong></h2>
					<h2><strong>{{ assessmentName }}</strong></h2>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<h4>
						<label for="contact-name" class="col-lg-5 control-label">Previous Total Mark:</label>
						</h4>
						<div class="col-lg-5">
							<input type="number" disabled="disabled" class="form-control" placeholder={{ fullmark }} value={{ fullmark }}>
						</div>
					</div>
					<div class="form-group">
						<h4>
						<label for="contact-email" class="col-lg-5 control-label">New Total Mark:</label>
						</h4>
						<div class="col-lg-5">
							<input hidden="hidden" name="assess_id" value={{ assess_id }}>
							<input type="number" class="form-control" id="new-full-mark" name="fullmark" placeholder="100"
							data-parsley-min="0" data-parsley-max="100">
						</div>
					</div>
					
					<div class="form-group">
						
						<div class="col-lg-8">
							<input type="hidden" class="form-control" id="assessment-name" name="module" value={{ module }} placeholder={{ module }}>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a>
					<button id="submit" class="btn btn-success" type="submit">Update</button>
				</div>
			</form>
		</div>
	</div>
	</div><!--End of Modal for ContactUs-->

		
{% endblock %}

{% block jumbotron_sub_header %} {{ module }} {% endblock %}

<!-- jumbotron content -->
{% block jumbotron_content %}

{% if message == None %}
	<!-- Do nothing no alert is required -->
{% else %}
	{% if message == 0 %}
		
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Warning!</strong> The mark could not be updated, please try again.
		</div>
	{% elif message == 1 %}
	
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</span><span class="sr-only">Close</span></button>
			<strong>Success!</strong> The mark was updated successfully.
		</div>

	{% endif %}
		
{% endif %}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table class="table table-hover table-bordered">
			<tr>
				<td><strong> UserID </strong></td>
				<td><strong> Name </strong></td>
				<td><strong> Surname </strong></td>
				<td><strong> Mark obtained </strong></td>
			</tr>
			{% for per in studentMark %}
			<tr>
				<td> {{per.0}} </td>
				<td> {{per.1}} </td>
				<td> {{per.2}} </td>
				{% if per.3 < 0 %}
				<td class="col-md-3">
					<form method="post" action="update_mark" class="form-inline" role="form" data-parsley-validate>
						{% csrf_token %}
						
						<input type="number" class="form-control" placeholder="Mark awarded"
						       name="mark" data-parsley-min="0" data-parsley-max={{ fullmark }} required>
						<button type="submit" class="btn btn-success" >Submit  <span class="glyphicon glyphicon-ok"></span></button>
						<input hidden="hidden" name="assess_id" value={{ assess_id }}>
						<input hidden="hidden" name="uid" value={{ per.0 }}>
						<input hidden="hidden" name="module" value={{ module }}>

					</form>
				</td>
				{% else %}
				<td class="col-md-3">
					<form method="post" onsubmit='return to_submit({{ per.0 }}, this);' action="update_mark" class="form-inline"
					      name={{ per.0 }} role="form" id="form_edit" data-parsley-validate>
						{% csrf_token %}
						<input id={{ per.0 }} disabled="disabled" type="number" class="form-control"
						       placeholder="Mark awarded" value={{ per.3 }} data-parsley-min="0" data-parsley-min={{ fullmark }}>
						<button type="submit" class="btn btn-warning" id={{ per.0 }} >Edit  <span class="glyphicon glyphicon-edit"></span></button>
						<input hidden="hidden" name="assessment" value={{ assess_id }}>
						<input hidden="hidden" name="uid" value={{ per.0 }}>
						<input hidden="hidden" name="module" value={{ module }}>
					</form>
				</td>
				
				<script>
					function to_submit(stud_id) {
						var data_nyana = document.getElementById('form_edit').name;
						var class_data = document.getElementById(data_nyana);
						alert(class_data.className);
						if (class_data.className == "btn btn-warning") {
							class_data.className="btn btn-success";
							class_data.span.className="glyphicon glyphicon-ok";
							document.getElementById(data_nyana).disabled=false;
							return false;
						}
						else{
							class_data.class="btn btn-warning";
							document.getElementById('edit_input').disabled=true;
							class_data.form.submit();
							
						}

					}
					
					function makeEditable(curr) {
						
						//Make input editable
						$(curr).parent().children('input.visibleInput').attr('disabled', false);
						
						//Change button color
						$(curr).parent().children('button').attr('class', 'btn btn-success');
						
						//Change icon of button
						$(curr).parent().children('button').children('span').attr('class', 'glyphicon glyphicon-ok');
						
						var btnInnerHTML = $(curr).parent().children('button').get(0).innerHTML;
						
						//Change button type to submit
						if (btnInnerHTML == 'Edit  <span class="glyphicon glyphicon-edit"></span>' ||
						    btnInnerHTML == 'Edit  <span class="glyphicon glyphicon-ok"></span>') {
							//Dont make the form postable, we only needed to change the button
							//Add method and action to form
							$(curr).parent().attr('method', 'post');
							$(curr).parent().attr('action', 'update-marks');
						}
						else {
							//Finaly submit
							$(curr).parent().children('button').attr('type', 'submit');
						}
						
						//Change html on button
						$(curr).parent().children('button').get(0).innerHTML = 'Submit  <span class="glyphicon glyphicon-ok"></span>';
						
						
					}
					
			       </script>
				
				<!-- Confirm modify mark modal -->

				<div class="modal fade" id="confirm_mark_modification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				<div class="modal-content">
				
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Confirm Modification</h4>
				</div>
				
				<div class="modal-body">
				<p>You are about to modify the mark already assigned to a student.</p>
				<p>Do you want to proceed?</p>
				</div>
				
				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" onclick="makeEditable(this);"
				class="btn btn-warning danger">Modify</button>
				</div>
				</div>
				</div>
				</div>
				
				<!-- End confirm modify mark modal -->
				
				
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		
		<!--<button type="submit" name="submit" class="btn btn-primary btn-block" data-target="#create_leaf_ass" data-toggle="modal">-->
			<!--<span class="glyphicon glyphicon-plus"></span> Create Leaf Assessment </button>-->
	</div>
	<div class="col-md-2"></div>
</div>

	<div class="modal fade" id="create_leaf_ass" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" action="create-leaf-assessment" method="post">{% csrf_token %}
					<div class="modal-header">
						<h4>Create a Leaf Assessment</h4>
					</div>
					<div class="modal-body">
						
						<div class="form-group">
							
							<label for="contact-name" class="col-lg-2 control-label">Assessment Name:</label>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="assessment-name" name="name" placeholder="Project 1 Phase 1">
	
							</div>
	
						</div>
	
						<div class="form-group">
							
							<label for="contact-email" class="col-lg-2 control-label">Full Mark:</label>
							<div class="col-lg-8">
								<input type="number" class="form-control" id="full-mark" name="fullmark" placeholder="100">
	
							</div>
	
						</div>
						
						<div class="form-group">
							
							<div class="col-lg-8">
								<input type="hidden" class="form-control" id="assessment-name" name="mod" value={{ module }} placeholder={{ module }}>
	
							</div>
	
						</div>
	
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Close</a>
						<button id="submit" class="btn btn-success" type="submit" name="leaf" value={{assess_id}}>Create</button>
					</div>
				</form>
			</div>
		</div>
	</div><!--End of Modal for ContactUs-->


{% endblock %}
<!-- End of jumbotron content -->
<!--###########################  End of jumbotron part ############################-->


{% block left_under_jumbotron-col-6 %}{% endblock %}

{% block right_under_jumbotron-col-6 %}{% endblock %}